<h1 class="title-account">
	<span>{{"detail.DetalleCuenta" | translate}}</span> {{selectedAccount.account_name}} {{selectedAccount.account_number}}
</h1>
<div class="row detalles">
	<div class="col-md-3 content-logo">
		<div class="logo logo-credi-donde"></div>
	</div>
	<div class="col-md-9">
		<div class="pagos-prestamo">
			<div class="row">
				<div class="col-md-9">
					<p class="title">{{"loan.detail.ProximoPago" | translate}}</p>
					<p>{{"loan.detail.RealizaProximoPago" | translate}} <strong>27/04/2015 {{"loan.detail.PorUnMonto" | translate}} $ 450.00</strong></p>
				</div>
				<div class="col-md-3">
					<button class="btn btn-warning">{{"loan.detail.Pagar" | translate}}</button>
				</div>
			</div>
		</div>
		<div class="pagos-prestamo">
			<div class="row">
				<div class="col-md-9">
					<p class="title">{{"loan.detail.QuieresCancelar" | translate}}</p>
					<p>{{"loan.detail.RealizaPago" | translate}}: <strong>27/04/2015 {{"loan.detail.PorUnMonto" | translate}} $ 3,800.00</strong></p>
				</div>
				<div class="col-md-3">
					<button class="btn btn-warning">{{"loan.detail.Pagar" | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row tablas-detalle">
	<div class="col-md-6">
		<table>
			<tbody>
				<tr>
					<td>{{"loan.detail.NumeroCredito" | translate}}:</td>
					<td></td>
				</tr>
				<tr>
					<td>{{"loan.detail.Producto" | translate}}:</td>
					<td></td>
				</tr>
				<tr>
					<td>{{"investment.detail.Plazo" | translate}}:</td>
					<td></td>
				</tr>
				<tr>
					<td>{{"loan.detail.TasaInteres" | translate}}:</td>
					<td>{{detail.annual_rate}}%</td>
				</tr>
				<tr>
					<td>{{"loan.detail.SaldoPeriodo" | translate}}:</td>
					<td>{{detail.balance | currency}}</td>
				</tr>
				<tr>
					<td>{{"loan.detail.SaldoLiquidacion" | translate}}:</td>
					<td>{{detail.balance | currency}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table>
			<tbody>
				<tr>
					<td>{{"detail.DiaCorte" | translate}}:</td>
					<td>{{detail.cut_date | date: 'dd/MM/yyyy'}}</td>
				</tr>
				<tr>
					<td>{{"detail.FechaUltimoPago" | translate}}:</td>
					<td>{{detail.last_payment_date | date: 'dd/MM/yyyy'}}</td>
				</tr>
				<tr>
					<td>{{"loan.detail.PagosPendientes" | translate}}:</td>
					<td>{{detail.pending_payment | currency}}</td>
				</tr>
				<tr>
					<td>{{"loan.detail.UltimoPagoPendiente" | translate}}:</td>
					<td>{{detail.last_pending_payment | currency}}</td>
				</tr>
				<tr>
					<td>{{"loan.detail.Moneda" | translate}}:</td>
					<td></td>
				</tr>
				<tr>
					<td>{{"loan.detail.FechaLimitePago" | translate}}:</td>
					<td>{{detail.limit_payment_date &lt; today ? 'Inmediato' : detail.limit_payment_date | date: 'dd/MM/yyyy'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
