<!-- Partial for investment notifications in the accounts dashboard -->
<div class="col-md-3 hidden-xs hidden-sm">
  <div class="cell">
    <div class="logo logo-inversion"></div>
  </div>
</div>
<div class="col-md-4 col-xs-6 info-account">
  <div class="cell">
    <p>
      <strong>{{notification.account_name}} ***{{notification.account_number}}</strong><br>
      Monto invertido: {{notification.amount_invested}}
    </p>
  </div>
</div>
<div class="col-md-5 col-xs-6 info-account">
  <div class="cell">
    <p>Rendimientos: <span></span></p>
  </div>
</div>
