
<div class="col-md-9" data-ng-init="load_conection()">
	<div class="page_conection">
		


		<div class="title-page">
	        <span class="btn_back"></span>
	        Administraci&oacute;n - Cuentas
	    </div>
	    <br />
	    <ul class="nav nav-tabs">
			<li id="transactiont" class="active"><a href="#" ng-click="ctas_menu()" ng-href="#/administration/accounts/">Alta y modificaci&oacute;n de Cuentas Destino</a></li>
			
			<li id="valueDt"><a href="#"  ng-click="customize()" ng-href="#/administration/accounts/customize">Personalizar Cuentas Origen</a></li>
		</ul>
		<div ui-view></div>
	</div>
</div>
