<div class="col-md-9">
	<div class="row">
<div class="title-page">
			<div class="col-md-1">
			<a href="/#/administration/users" class="btn btn-default btn-large btn-block button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
			</div>
				Altas y Modificaciones
		</div><br />
<div class="col-md-12 row-fluid">
	<div class="content_white">
		<div ><br />
			&nbsp;&nbsp;Datos Personales
			<hr >
			<br />
			<div class="col-md-12 ">
				<div class="pull-right" align="right">
					
			Usuario&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			Nombre&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			Apellido Paterno&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			Apellido Materno&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			Periodo de Renovaci&oacute;n de Clave de Acceso&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radiorenovacion"  checked> Sin periodo de Renovaci&oacute;n &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radiorenovacion"> Mensual &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radiorenovacion"> Trimestral&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 </div>
			</div>
			&nbsp;&nbsp;
			<hr >
			&nbsp;&nbsp;Datos Generales
			<hr>
			<br />
			<div class="col-md-12 ">
				<div class="pull-right" align="right">
					
			Calle y N&uacute;mero&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			Colonia&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			C&oacute;digo Postal&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			Ciudad&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			Estado&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			Tel&eacute;fono M&oacute;vil&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			Correo Electr&oacute;nico&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			RFC&nbsp;&nbsp;&nbsp;<input type="text" size="85">
			   </div>
			</div>
			&nbsp;&nbsp;
			<hr >
			&nbsp;&nbsp;Claves de Acceso
			<hr>
			<div class="col-md-12 ">
				<div class="pull-right" align="right">
					
			Clave de Acceso&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			Confirme Clave de Acceso&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			   </div>
			</div>
			&nbsp;&nbsp;
			<hr >
			&nbsp;&nbsp;Poder de Firma
			<hr>
			<div class="col-md-12 ">
				<div class="pull-right" align="right">
					
			<input type="radio" name="radiopfirma"  checked> Individual &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radiopfirma"> Mancomunado &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radiopfirma"> Sin Poder&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />
			   </div>
			</div>

			</div>
		</div>
<br>
		<div class="col-md-3 pull-right">
						<a type="button" href="/#/administration/users/autorize" class="btn btn-default btn-large button_mfm btn-block">Guardar</a>
						</div>
	</div>
</div>
</div></div>
