<div class="col-md-9">
	<div class="row">
<div class="title-page">
			<div class="col-md-1">
			<a href="/#/administration/users" class="btn btn-default btn-large btn-block button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
			</div>
				{{"addmoduser.AltasModificaciones" | translate}}
		</div><br />
<div class="col-md-12 row-fluid">
	<div class="content_white">
		<div ><br />
			&nbsp;&nbsp;{{"addmoduser.DatosPersonales" | translate}}
			<hr >
			<br />
			<div class="col-md-12 ">
				<div class="pull-right" align="right">

			{{"addmoduser.Usuario" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			{{"addmoduser.Nombre" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			{{"addmoduser.ApellidoP" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			{{"addmoduser.ApellidoM" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			{{"addmoduser.PeriodoRenovacion" | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radiorenovacion"  checked> {{"addmoduser.SinPeriodo" | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radiorenovacion"> {{"addmoduser.Mensual" | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radiorenovacion"> {{"addmoduser.Trimestral" | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 </div>
			</div>
			&nbsp;&nbsp;
			<hr >
			&nbsp;&nbsp;{{"addmoduser.DatosGenerales" | translate}}
			<hr>
			<br />
			<div class="col-md-12 ">
				<div class="pull-right" align="right">

			{{"addmoduser.CalleNumero" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			{{"addmoduser.Colonia" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			{{"addmoduser.Codigo Postal" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			{{"addmoduser.Ciudad" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			{{"addmoduser.Estado" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			{{"addmoduser.TelefonoMovil" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			{{"addmoduser.CorreoElectronico" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			RFC&nbsp;&nbsp;&nbsp;<input type="text" size="85">
			   </div>
			</div>
			&nbsp;&nbsp;
			<hr >
			&nbsp;&nbsp;{{"addmoduser.ClavesAcceso" | translate}}
			<hr>
			<div class="col-md-12 ">
				<div class="pull-right" align="right">

			{{"addmoduser.ClaveAcceso" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			{{"addmoduser.ConfirmeClave" | translate}}&nbsp;&nbsp;&nbsp;<input type="text" size="85"><br /><br />
			   </div>
			</div>
			&nbsp;&nbsp;
			<hr >
			&nbsp;&nbsp;{{"addmoduser.PoderFirma" | translate}}
			<hr>
			<div class="col-md-12 ">
				<div class="pull-right" align="right">

			<input type="radio" name="radiopfirma"  checked> {{"addmoduser.Individual" | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radiopfirma"> {{"addmoduser.Mancomunado" | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radiopfirma"> {{"addmoduser.SinPoder" | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><br />
			   </div>
			</div>

			</div>
		</div>
<br>
		<div class="col-md-3 pull-right">
						<a type="button" href="/#/administration/users/autorize" class="btn btn-default btn-large button_mfm btn-block">{{"addmoduser.Guardar" | translate}}</a>
						</div>
	</div>
</div>
</div></div>
