<div class="col-md-9">
	<div class="title-page">
			<div class="col-md-1">
			<a href="/#/administration/accounts" class="btn btn-default btn-large btn-block button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
			</div>
				Administraci&oacute;n - Cuentas de Destino
		</div><br />
	<div class="col-md-12">
		
		<div class="table-responsive">
    		<div class="gridStyle" ng-grid="gridOptions"></div>

     	</div>
     	<br>
		<div class="col-md-3 pull-right">
			<a type="button" href="" class="btn btn-default btn-large button_mfm btn-block">Guardar</a>
		</div>
	</div>

</div>	
