<div class="col-md-4">
	<div class="left-menu">
		<ul class="menu menu-configuracion">
			<li class="head" onclick="showHideMenu('menu-configuracion', undefined);">
				<span class="arrow"></span>
				<span class="title">{{"administration.Configuracion" | translate}}</span>
			</li>
			<li ng-class="'child active'" style="cursor:pointer;">
				<a>
					<span class="arrow"></span>
					<span class="text">{{"administration.CambioContrasenia" | translate}}</span>
				</a>
			</li>
			<li ng-class="'child'" style="cursor:pointer;">
				<a>
					<span class="arrow"></span>
					<span class="text">Token</span>
				</a>
			</li>
		</ul>

		<ul class="menu menu-informacion">
			<li class="head" onclick="showHideMenu('menu-informacion', undefined);">
				<span class="arrow"></span>
				<span class="title">{{"administration.MasInformacion" | translate}}</span>
			</li>
			<li ng-class="'child active'" style="cursor:pointer;">
				<a>
					<span class="arrow"></span>
					<span class="text">{{"login.Aclaraciones" | translate}}</span>
				</a>
			</li>
			<li ng-class="'child'" style="cursor:pointer;">
				<a>
					<span class="arrow"></span>
					<span class="text">{{"login.Aviso de privacidad" | translate}}</span>
				</a>
			</li>
			<li ng-class="'child'" style="cursor:pointer;">
				<a>
					<span class="arrow"></span>
					<span class="text">{{"main-header.Reportes" | translate}}</span>
				</a>
			</li>
			<li ng-class="'child'" style="cursor:pointer;">
				<a>
					<span class="arrow"></span>
					<span class="text">{{"login.Terminos" | translate}}</span>
				</a>
			</li>
			<li ng-class="'child'" style="cursor:pointer;">
				<a>
					<span class="arrow"></span>
					<span class="text">{{"login.Seguridad" | translate}}</span>
				</a>
			</li>

		</ul>


	</div>
</div>

<div class="col-md-8" ng-show="requestStack.length > 0 && showBGLoader === undefined">
	<div class="loading"></div>
</div>

<div class="col-md-8" ng-hide="requestStack.length > 0">
	<div>
	<alert type="danger" class="alert ng-isolate-scope alert-danger alert-dismissible" ng-show="danger.show" close="danger.show = false">
		{{danger.message}}
	</alert>
	<alert type="warning" class="alert ng-isolate-scope alert-warning alert-dismissible" ng-show="warning.show" close="warning.show = false">
		{{warning.message}}
	</alert>
	</div>
	<div ng-include="'views/partials/administration/user-activity.html'" class="account-page"></div>
</div>
