
<div class="col-md-9" data-ng-init="load_conection()">
	<div class="page_conection" admin-buttons>
		<div class="title-page">
	        <a class="btn_back"></a>
	        Administraci&oacute;n
	    </div>
	    <br />
	    
		<a href="/#/administration/users" class="button_mfm conexion_btn desactivo">
			<span class="text" style="width: 125%; padding-top:28px">
				<i class="oculto llama-PC" style="margin-left:50px" ></i>Administraci&oacute;n de Usuarios</span>
		</a>

		<a href="/#/administration/accounts/" class="button_mfm conexion_btn desactivo">
			<span class="text" style="width: 125%; padding-top:29px">
				<i class="oculto llama-oficina" style="margin-left:50px" ></i>Administraci&oacute;n de Cuentas&nbsp;</span>
		</a>
		
	</div>
</div>
