<div class="col-md-9">
	<div class="row">
<div class="title-page">
			<div class="col-md-1">
			<a href="/#/administration/users" class="btn btn-default btn-large btn-block button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
			</div>
				Configurar Alertas
		</div><br />
<div class="col-md-12 row-fluid">
	<div class="content_white">
		<div >
			<div class="col-md-5 " align="center">
				Tipo de Alertas
			</div>
			<div class="col-md-7" align="center">
				M&eacute;todo de Env&iacute;o
				<br /><br />
				<div class="col-md-12">
				<div class="col-md-6">
					Correo Electr&oacute;nico
				</div>
				<div class="col-md-6">
					Chat
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Comprobante de Operaci&oacute;n de Cr&eacute;dito
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Comprobante de Compra Venta de Divisas
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Factura de Cambios
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Factura de Intereses Ordinarios
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Factura de Intereses Moratorios
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Aviso Anticipado de Vencimientos
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Aviso de Recepci&oacute;n de Pagos (Cobranza)
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Solicitud de Recursos
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Vencimiento de Operaci&oacute;n (Mismo d&iacute;a)
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div  >
				<hr/> 
				<div class="col-md-6 pull-left" align="center">
					Movimientos de la cuenta Biom&eacute;trica
			</div>
			&nbsp;
				<hr />
			</div>
			
			<div >
			<div class="col-md-5 " align="right">
				Retiro de la Cuenta MFM
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Dep&oacute;sito a la Cuenta MFM
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>

			<br />
			<br />
			<div  >
				<hr/> 
				<div class="col-md-6 pull-left" align="center">
					Movimientos de la cuenta de Inversi&oacute;n
			</div>
			&nbsp;
				<hr />
			</div>
			<div >
			<div class="col-md-5 " align="right">
				Retiro de la Inversi&oacute;n MFM
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Dep&oacute;sito a la Inversi&oacute;n MFM
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div  >
				<hr/> 
				<div class="col-md-6 pull-left" align="center">
					Movimientos de Administraci&oacute;n de Usuarios
			</div>
			&nbsp;
				<hr />
			</div>
			<div >
			<div class="col-md-5 " align="right">
				Alta de Cuenta
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Alta de Usuario
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Modificaci&oacute;n de Cuenta
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				Modificaci&oacute;n de Usuario
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />


		</div>
<br>
		<div class="col-md-3 pull-right">
						<a type="button" href="/#/administration/users/autorize" class="btn btn-default btn-large button_mfm btn-block">Guardar</a>
						</div>
	</div>
</div>
</div></div>
