<div class="col-md-9">
	<div class="row">
<div class="title-page">
			<div class="col-md-1">
			<a href="/#/administration/users" class="btn btn-default btn-large btn-block button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
			</div>
				{{"administration.ConfigurarAlertas" | translate}}
		</div><br />
<div class="col-md-12 row-fluid">
	<div class="content_white">
		<div >
			<div class="col-md-5 " align="center">
				{{"administration.TipoAlertas" | translate}}
			</div>
			<div class="col-md-7" align="center">
				{{"administration.MetodoEnvio" | translate}}
				<br /><br />
				<div class="col-md-12">
				<div class="col-md-6">
					{{"addmoduser.CorreoElectronico" | translate}}
				</div>
				<div class="col-md-6">
					Chat
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.Comprobante" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.ComprobanteVentaDivisas" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.FacturaCambios" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.FacturaInteresesO" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.FacturaInteresesM" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.AvisoVencimiento" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.AvisoRepecionPagos" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.Solicitud" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.VencimientoOperacion" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div  >
				<hr/>
				<div class="col-md-6 pull-left" align="center">
					{{"administration.MovimientosCuenta" | translate}}
			</div>
			&nbsp;
				<hr />
			</div>

			<div >
			<div class="col-md-5 " align="right">
				{{"administration.RetiroCuenta" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.DepositoCuentaMFM" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>

			<br />
			<br />
			<div  >
				<hr/>
				<div class="col-md-6 pull-left" align="center">
					{{"administration.MovimientosCuentaInversion" | translate}}
			</div>
			&nbsp;
				<hr />
			</div>
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.RetiroInversionMFM" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.DepositoInversionMFM" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div  >
				<hr/>
				<div class="col-md-6 pull-left" align="center">
					{{"administration.MovimientosAdminUsuarios" | translate}}
			</div>
			&nbsp;
				<hr />
			</div>
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.AltaCuenta" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.AltaUsuario" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.ModificacionCuenta" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />
			<div >
			<div class="col-md-5 " align="right">
				{{"administration.ModificacionUsuario" | translate}}
			</div>

			<div class="col-md-7" align="center">
				<div class="col-md-12">
				<div class="col-md-6">
					<input type="checkbox">
				</div>
				<div class="col-md-6">
					<input type="checkbox">
				</div>
			</div>
			</div>
			</div>
			<br />
			<br />


		</div>
<br>
		<div class="col-md-3 pull-right">
						<a type="button" href="/#/administration/users/autorize" class="btn btn-default btn-large button_mfm btn-block">{{"addmoduser.Guardar" | translate}}</a>
						</div>
	</div>
</div>
</div></div>
