
<div id="buttons" data-ng-init="load_conection()">
	<br />
	    <div class="page_conection" admin-buttons>
		<a href="/#/administration/accounts/dest" class="button_mfm conexion_btn desactivo sec">
			<span class="text" style="width: 125%; padding-top:28px">
				<i class="oculto llama-PC" style="margin-left:80px" ></i>Mismo Banco</span>
		</a>

		<a href="/#/administration/accounts/dest" class="button_mfm conexion_btn desactivo sec">
			<span class="text" style="width: 125%; padding-top:28px">
				<i class="oculto llama-oficina" style="margin-left:80px" ></i>Interbancarias</span>
		</a>

		<a href="/#/administration/accounts/dest" class="button_mfm conexion_btn desactivo sec">
			<span class="text" style="width: 125%; padding-top:28px">
				<i class="oculto llama-PC" style="margin-left:80px" ></i>Internacionales</span>
		</a>
</div>
		
	</div>
