<div  class="col-md-12" data-ng-init="customize()">

<div class="content_white">
	        <div class="col-md-12">
	        	<div class="col-md-3 pull-left">
	        	Tipo de Cuenta

	        	</div>
	        	<div class="col-md-9 pull-left">
	        	Alias

	        	</div>
	        	 </div><br />
        	<div class=" col-md-12">
	        	<div class="col-md-3 pull-left">
	        		<br />
	        		Cuentas Biom&eacute;tricas
	        	</div><div class="col-md-9">&nbsp;</div><br />

	        	&nbsp;
	        	<hr />
	        	</div>
	        	<div class=" col-md-12">
	        	<div class="col-md-3 ">
	        		
	        		54464654 MXN
	        	</div>
	        	<div class="col-md-9 ">
	        		
	        		<input type="text" size="90" value="MXN TAENZA">	
	        	</div>

	        	</div>
	        	<div class=" col-md-12">
	        	<div class="col-md-3 ">
	        		<br />
	        		54464654 USD
	        	</div>
	        	<div class="col-md-9 ">
	        		<br />
	        		<input type="text" size="90" value=" - ">	
	        	</div>

	        	</div>
	        	<br />

	        	&nbsp;
	        	<hr />
	        	<div class=" col-md-12">
	        	<div class="col-md-3 pull-left">
	        		
	        		Cuentas de Cr&eacute;dito
	        	</div>

	        	&nbsp;
	        	<hr />
	        	</div>
	        	<div class=" col-md-12">
	        	<div class="col-md-3 ">
	        		
	        		54464654 MXN
	        	</div>
	        	<div class="col-md-9 ">
	        		
	        		<input type="text" size="90" value="OPM TAENZA">	
	        	</div>

	        	</div>
	        	&nbsp;
	        	<hr />
	        	<div class=" col-md-12">
	        	<div class="col-md-3 pull-left">
	        		
	        		Cuentas de Inversi&oacute;n
	        	</div>

	        	&nbsp;
	        	<hr />
	        	</div>
	        	<div class=" col-md-12">
	        	<div class="col-md-3 ">
	        		
	        		54464654 MXN
	        	</div>
	        	<div class="col-md-9 ">
	        		
	        		<input type="text" size="90" value="INV MXN TAENZA">	
	        	</div>

	        	</div>
	        	<div class=" col-md-12">
	        	<div class="col-md-3 ">
	        		<br />
	        		54464654 USD
	        	</div>
	        	<div class="col-md-9 ">
	        		<br />
	        		<input type="text" size="90" value=" - ">	
	        	</div>

	        	</div><br/>&nbsp;<br/>
</div>
<br />
<div class="col-md-3 pull-right">

<a type="button" href="" class="btn btn-default btn-large button_mfm btn-block ">Guardar</a></div>

</div>
