<div class="content_table">
	<div class="row">
		<div class="col-md-6">
			<h3>&nbsp;Configurar Alertas</h3>
		</div>
		<div class="col-md-5">
		<br>
			<button type="button" class="btn btn-default btn-md pull-right">
				<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Guardar
			</button>
		</div>

	</div>
	<hr>
	<div class="row">
		<div class="col-md-2 col-sm-offset-2">Tipo de Alertas</div>
		<div class="col-md-8">Modo de Env&iacute;o</div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-2 col-sm-offset-4">Ninguno</div>
		<div class="col-md-2">Correo Electr&oacute;nico</div>
		<div class="col-md-2">Chat</div>
		<div class="col-md-2">Correo Electr&oacute;nico y chat</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4">Comprobante de Operaci&oacute;n de Cr&eacute;dito</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">Comprobante de Compra Venta de Divisas</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">Factura de Cambios</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">Factura de Intereses Ordinarios</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">Factura de Intereses Moratorios</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">Aviso Anticipado de Vencimientos</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">Aviso de Recepci&oacute;n de Pagos (Cobranza)</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">Solicitud de recursos</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">Vencimiento de Operaciones (Mismo día)</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			<br><h4>Movimientos de la Cuenta Biom&eacute;trica</h4>
		</div>
	</div>					
	<div class="row">
		<div class="col-md-4">Retiro de la cuenta MFM</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">Dep&oacute;sito a la cuenta MFM</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			<br><h4>Movimientos de la Cuenta de Inversi&oacute;n</h4>
		</div>
	</div>					
	<div class="row">
		<div class="col-md-4">Retiro de la inversi&oacute;n MFM</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">Dep&oacute;sito a la inversi&oacute;n MFM</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>		
	<div class="row">
		<div class="col-md-12">
			<br><h4>Movimientos de Administraci&oacute;n de Usuario</h4>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-4">Alta de Cuenta</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>			
	<div class="row">
		<div class="col-md-4">Alta de Usuario</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>			
	<div class="row">
		<div class="col-md-4">Modificaci&oacute;n de Cuenta</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>			
	<div class="row">
		<div class="col-md-4">Modificaci&oacute;n de Usuario</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>			
</div>
