<div class="content_table">
	<div class="row">
		<div class="col-md-6">
			<h3>&nbsp;{{"administration.ConfigurarAlertas" | translate}}</h3>
		</div>
		<div class="col-md-5">
		<br>
			<button type="button" class="btn btn-default btn-md pull-right">
				<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;{{"addmoduser.Guardar" | translate}}
			</button>
		</div>

	</div>
	<hr>
	<div class="row">
		<div class="col-md-2 col-sm-offset-2">{{"administration.TipoAlertas" | translate}}</div>
		<div class="col-md-8">{{"customize.ModoEnvio" | translate}}</div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-2 col-sm-offset-4">{{"customize.Ninguno"}}</div>
		<div class="col-md-2">{{"addmoduser.CorreoElectronico" | translate}}</div>
		<div class="col-md-2">Chat</div>
		<div class="col-md-2">{{"addmoduser.CorreoElectronico" | translate}} / chat</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4">{{"administration.Comprobante" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.ComprobanteVentaDivisas" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.FacturaCambios" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.FacturaInteresesO" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.FacturaInteresesM" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.AvisoVencimiento" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.AvisoRepecionPagos" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.Solicitud" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.VencimientoOperacion" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br><h4>{{"administration.MovimientosCuenta" | translate}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.RetiroCuenta" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.DepositoCuentaMFM" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br><h4>{{"administration.MovimientosCuentaInversion" | translate}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.RetiroInversionMFM" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.DepositoInversionMFM" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br><h4>{{"administration.MovimientosAdminUsuarios" | translate}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.AltaCuenta" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.AltaUsuario" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.ModificacionCuenta" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
	<div class="row">
		<div class="col-md-4">{{"administration.ModificacionUsuario" | translate}}</div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
		<div class="col-md-2"><input type="checkbox"></input></div>
	</div>
</div>
