<div class="user-activity" ng-view="adminContent">
  <div class="transactions">
    <table class="details">
      <thead>
        <tr>
          <th scope="col">{{"user-activity.FechaHora" | translate}}</th>
          <th scope="col">{{"transactions.Descripcion" | translate}}</th>
          <th scope="col">{{"detail.Estatus" | translate}}</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="activity in userActivities">
        <td>{{activity.date | date:'dd/MM/yy HH:mm' }} hrs.</td>
        <td>{{mapUserActivity(activity.action)}}</td>
        <td>{{mapActivityStatus(activity.successful)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="pagination">
      <button ng-click='activity("ant")' ng-class="disableAnt ? 'disabled' : ''">{{"user-activity.Anterior" | translate}}</button>
      <span>{{page+1}}/{{totalPages}}</span>
      <button ng-click='activity("sig")' ng-class="disableSig ? 'disabled' : ''">{{"user-activity.Siguiente" | translate}}</button>
</div>
