<div class="col-md-9">
  	<div class="row">
        <div class="title-page">
      		<div class="col-md-1">
       			 <a  href="/#/administration/users" class="btn btn-default btn-large btn-block button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
      		</div>
      		Cuentas y Permisos
         </div>
    	</div>
    	<br />
    <!--end row back button-->
    <div class="col-md-12 content_white">
    	<div class="well">
    		<div class="row">
    			<div class="col-md-7 ">
    				<div class="row">
    					<span>Tipo de Cuenta</span>
    				</div>
    			</div>
    			<div class="col-md-5">
    				<div class="row">
    					<span>Transferencias</span>
    				</div>
    			</div>
    		</div><!--end row 1-->
    		<div class="row">
    			<div class="col-md-7">
    				<div class="col-md-5"></div>
    				<div class="col-md-7">
    					<div class="col-md-3">
    						<span><font size="1">Completo</font></span>
    					</div>
    					<div class="col-md-3">
    						<span><font size="1">Consultar</font></span>
    					</div>
    					<div class="col-md-6 pull-right">
    						<span class="pull-right"><font size="1">Mismo Banco</font></span>
    					</div>
    				</div><!--end col-md-7-->
    			</div>
    			<div class="col-md-5">
    				<div class="col-md-3">
    					<span class="pull-left" align="left"><font size="1">Interbancaria</font></span>
    				</div>
    				<div class="col-md-3">
    					<span><font size="1">Internacional</font></span>
    				</div>
    				<div class="col-md-6">
    					<span><font size="1">Autorizaci&oacute;n Biom&eacute;trica</font></span>
    				</div>
    			</div>
    			</div>
    			<hr>
    			<div class="row">
    				Cuentas Biom&eacute;tricas
    			</div>
    			<hr>
    			<div class="row">
    				<div class="col-md-7">
    				<div class="col-md-5"><span class="pull-right">Alias-MXN</span></div>
    				<div class="col-md-7">
    					<div class="col-md-3" align="center">
    						<input type="checkbox" align="center">
    					</div>
    					<div class="col-md-3">
    						<input type="checkbox" align="center">
    					</div>
    					<div class="col-md-6 pull-right">
    						<input type="checkbox" align="center">
    					</div>
    				</div><!--end col-md-7-->
    			</div>
    			<div class="col-md-5">
    				<div class="col-md-3">
    					<input type="checkbox" align="center">
    				</div>
    				<div class="col-md-3">
    					<input type="checkbox" align="center">
    				</div>
    				<div class="col-md-6">
    					<input type="checkbox" align="center">
    				</div>
    			</div>
    			</div>

    			<div class="row">
    				<div class="col-md-7">
    				<div class="col-md-5"><span class="pull-right">Alias-USD</span></div>
    				<div class="col-md-7">
    					<div class="col-md-3" align="center">
    						<input type="checkbox" align="center">
    					</div>
    					<div class="col-md-3">
    						<input type="checkbox" align="center">
    					</div>
    					<div class="col-md-6 pull-right">
    						<input type="checkbox" align="center">
    					</div>
    				</div><!--end col-md-7-->
    			</div>
    			<div class="col-md-5">
    				<div class="col-md-3">
    					<input type="checkbox" align="center">
    				</div>
    				<div class="col-md-3">
    					<input type="checkbox" align="center">
    				</div>
    				<div class="col-md-6">
    					<input type="checkbox" align="center">
    				</div>
    			</div>
    			</div>
    			<hr>
    			<div class="row">
    				Cuentas de Inversi&oacute;n
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<div class="col-md-3">
    						<span class="pull-right">Alias-MXN</span>
    					</div>
    					<div class="col-md-1"></div>
    					<div class="col-md-1">
    						<input type="checkbox">
    					</div>
    				</div>		
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<div class="col-md-3">
    						<span class="pull-right">Alias-USD</span>
    					</div>
    					<div class="col-md-1"></div>
    					<div class="col-md-1">
    						<input type="checkbox">
    					</div>
    				</div>		
    			</div>
    		<!--end well-->
    		
        </div>
    	</div>

    </div>
    <br />&nbsp;<br />
        <div class="col-md-2 pull-right">
                        <a type="button" href="/#/administration/users/autorize" class="btn btn-default btn-large button_mfm btn-block">Guardar</a>
                        </div>

</div>
