
<div class="user-activity" ng-view="adminContent">
  <div class="transactions">
    <table class="details">
      <thead>
        <tr>
          <th scope="col">Fecha y hora</th>
          <th scope="col">Descripci&oacute;n</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="activity in userActivity | filter:search">
              <td>{{activity.date | date:'dd/MM/yy HH:mm' }} hrs.</td>
              <td>{{mapUserActivity(activity.action)}}</td>
              <td>{{mapActivityStatus(activity.successful)}}</td>
        </tr>
        <tr>
          <td>
            <button ng-click='activity("ant")' ng-model="button" ng-disabled='disableAnt'>Anterior</button> {{page+1}}
            <button ng-click='activity("sig")' ng-model="button" ng-disabled='disableSig'>Siguiente</button>
        </td>
       </tr>
      </tbody>
    </table>
  </div>
</div>
