<div class="container">
    <h1 class="title-green">{{"user-activity.title" | translate}}</h1>
    <div class="user-activity" ng-view="adminContent">
        <div class="table-responsive transactions">
          <table class="table table-striped details">
              <thead>
                  <tr>
                    <th scope="col">{{"user-activity.FechaHora" | translate}}</th>
                    <th scope="col">{{"transactions.Descripcion" | translate}}</th>
                    <th scope="col">{{"detail.Estatus" | translate}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="activity in userActivities">
                    <td>{{activity.date | date:'medium' }} hrs.</td>
                    <td>{{mapUserActivity(activity.action)}}</td>
                    <td>{{mapActivityStatus(activity.successful)}}</td>
                  </tr>
              </tbody>
          </table>
        </div>
    </div>
    <div class="pagination center-block">
        <button type="button" class="page1" ng-click='activity("ant")' ng-class="disableAnt ? 'page3' : ''">
            {{"user-activity.Anterior" | translate}}
        </button>
        <div class="page">
            {{page+1}}/{{totalPages}}
        </div>
        <button type="button" class="page2" ng-click='activity("sig")' ng-class="disableSig ? 'page3' : ''">
            {{"user-activity.Siguiente" | translate}}
        </button>
    </div>
</div>
