/*$icon-font-path: "/bower_components/sass-bootstrap/fonts/";*/
/*@import 'sass-bootstrap/lib/bootstrap';*/

/* VARIABLES */
$logo_bg: "../images/logo.png";

/* MIXINS */
@mixin border_radius($radius: 10px) {
    border-radius: $radius !important;
    -webkit-border-radius: $radius !important;
    -moz-border-radius: $radius !important;
}

@mixin gradient_top_bottom($color_top: #ffffff, $color_bottom: #000000) {
    background: $color_top !important;
    background: -moz-linear-gradient(top, $color_top 0%, $color_bottom 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_top), color-stop(100%,$color_bottom)) !important;
    background: -webkit-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
    background: -o-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
    background: -ms-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
    background: linear-gradient(to bottom, $color_top 0%,$color_bottom 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_top', endColorstr='$color_bottom',GradientType=0 ) !important;
}
@mixin box_shadow($shadow: #000000){
    -moz-box-shadow: 0 0 5px $shadow;
    -webkit-box-shadow: 0 0 5px $shadow;
    box-shadow: 0 0 5px $shadow;
}
@mixin anim_transicion( $segundos: 0.3s ){
    transition: all $segundos ease;
    -ms-transition: all $segundos ease;
    -webkit-transition: all $segundos ease;
    -o-transition: all $segundos ease;
    -moz-transition: all $segundos ease;
}

body, html, #mainDiv {
    height: 100%;
    font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", Arial, sans-serif;
}
body{
    background: #000000 url(../images/bg.png) center center no-repeat;    
    background-size: cover;
    background-attachment:fixed;
    #mainDiv{
        background: none;
    }
    
}
/************** LOGIN **************/
.login_back {
    padding-top: 90px;
   .form-signin {
        max-width: auto;
        padding: 20px;
        margin: 0 auto 20px;
        background: #000000;

        @include border_radius(10px);

        .logo{
            background: url($logo_bg) no-repeat;
            background-size: 240px;
            width: 240px;
            height: 102px;
            margin: 5px auto 25px auto;
        }
        input{
            background: #000000;
            border:1px solid #464646;
            margin: 8px 0;
            padding: 3px 5px 3px 30px;
            color: #b1b1b1;
        }
        input.input_user{
            background: url(../images/ico_user.png) 5px 6px no-repeat;
        }
        input.input_pass{
            background: url(../images/ico_pass.png) 5px 6px no-repeat;
        }
        a, a:hover {
            color: #757474;
            font-size: 12px;
            font-weight: normal;
            text-decoration: underline;
        }
        .btn{
            color: #FFFFFF;
            border: none;
            clear: both;
            width: 100%;
            display: block;
            font-size: 14px;
            padding: 10px 0;
            margin: 20px 0;
            @include gradient_top_bottom( #303030, #0c0d0d);
        }
        .btn:hover{
            @include gradient_top_bottom( #0c0d0d, #303030);    
        }
    }
    .bienvenida{
        color: #e5e5e5;
        padding: 145px 0 80px 0;
        p{
            margin: 0;
            line-height: 100%;
        }
        .p_big{
            font-size: 65px;    
        }
        .p_small{
            font-size: 50px;    
        }
        
    }
    .login_footer {
        background: #000000;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        color: #a3a3a3;
        font-weight: bold;
        padding: 5px;

        a, a:hover {
            color: #a3a3a3;
            font-size: 12px;
            font-weight: normal;
        }
    }
}

/************** INNER HTMLS **************/
.header {
    background: #000000;
    color: #FFFFFF;
    padding: 5px 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    .logo{
        background: url($logo_bg) no-repeat;
        background-size: 120px;
        width: 120px;
        height: 50px;
        display: block;
        margin: 0 auto;
    }
    .user{
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
    }

    button.btn-logout{
        background: #FFFFFF;
        padding: 5px 10px;
        font-size: 12px;
        margin: 8px 5px 0 5px;
        i{
            display: block;
            float: left;
            position: relative;
            top: -2px;
            margin-right: 5px;
            background: url(../images/ico_salir.png) no-repeat;
            width: 15px;
            height: 17px;
        }
    }
}
.subheader{
    background: #212121;
    padding: 5px 0;
    overflow: hidden;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 9999;
    span{
        text-transform: uppercase;
        font-size: 11px;
        color: #a3a3a3;
    }
    span.fecha{
        background: url(../images/ico_fecha.png) no-repeat;
        padding: 2px 0 0 20px;
        height: 16px;
        display: inline-block;
    }
    span.hora{
        background: url(../images/ico_hora.png) no-repeat;
        padding: 2px 0 0 20px;
        height: 16px;
        display: inline-block;
        margin-left: 20px;
    }
}
.menu_lateral{
    margin-bottom: 20px;
    li{
        background: #252525;
        margin-bottom: 5px;
        @include border_radius( 3px );
        a, a:hover, a:active{
            background:none;
            display: block;
            clear: both;
            color: #a3a3a3;

            i{
                background-repeat: no-repeat;
                background-position: right top;
                width: 25px;
                height: 25px;
                margin-right: 10px;
                display: block;
                float: left;
                position: relative;
                top: 3px;
            }
            i.ico-saldos{
                background-image: url(../images/menu_saldos.png); 
            }
            i.ico-conexion{
                background-image: url(../images/menu_conexion.png); 
            }
            i.ico-autorizar{
                background-image: url(../images/menu_autorizar.png); 
            }
            i.ico-transferencias{
                background-image: url(../images/menu_transferencias.png); 
            }
            i.ico-administracion{
                background-image: url(../images/menu_administracion.png); 
            }
        }
    }
    li.active,
    li:hover{
        @include gradient_top_bottom( #b6b7b8, #f4f5f5);
        a, a:hover, a:active{
            background: url(../images/menu_h.png) right center no-repeat;
            background-size: 23px;
            color: #000000;
            i.ico-saldos{
                background-image: url(../images/menu_saldos_h.png); 
            }
            i.ico-conexion{
                background-image: url(../images/menu_conexion_h.png); 
            }
            i.ico-autorizar{
                background-image: url(../images/menu_autorizar_h.png); 
            }
            i.ico-transferencias{
                background-image: url(../images/menu_transferencias_h.png); 
            }
            i.ico-administracion{
                background-image: url(../images/menu_administracion_h.png); 
            }
        }
    }
}
.banners{
    margin: 60px 0 0 0 ;
    text-align: center;
    img{
        margin-bottom: 15px;
    }
}
.content{
    padding: 110px 0 30px 0;
}
.titulo{
    font-size: 18px;
    color: #a3a3a3;
}
.content_table{
    background: #ffffff;
    padding: 8px 0;
    overflow: hidden;
    margin: 0 0 15px 0;
    @include border_radius( 5px );
    h4{
        display: block;
        width: auto;
        margin: 0 10px;
        cursor: pointer;
    } 
    h4.abierto{
        background: url(../images/ico_minus.png) right center no-repeat;
    } 
    h4.cerrado{
        background: url(../images/ico_plus.png) right center no-repeat;
    } 
    .table-responsive{
        margin-top: 20px;
        border:none!important;
        .table{
            margin: 0; 
            thead{
                tr{
                    td{
                        border: none;
                        background: #3d3d3d;
                        color: #FFFFFF;
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        border: none;
                        color: #2e2e2e;
                        font-size: 12px;
                        a, a:hover, a:active{
                            color: #2e2e2e;
                            text-decoration: none;
                        }
                    }

                }
                tr:nth-child(odd){
                    background: #d1d3d4;
                }
                tr:nth-child(even){
                    background: #FFFFFF;
                }
            }
        }
    }
}
.notificaciones{
    padding: 0 5px;
    margin-bottom: 10px;
    .head{
        background: #3d3d3d;
        color: #a3a3a3;
        padding: 5px 10px;
        p{
            margin: 0;
        }
    }
    ul{
        list-style: none;
        background: #000000;
        padding: 0;
        li{
            text-align: left;
            border-bottom: 1px solid #5e5e5e;
            padding: 3px 10px;
            a{
                font-size: 12px;
                color: #6da1d4;
                text-decoration: underline;
            }
        }
        li:last-child{
            border-bottom: none;
        }
    }
}
.conexion_btn,
.conexion_btn:hover,
.conexion_btn:active{
    width: auto;
    height: 120px;
    display: block;
    clear: both;
    background: #FFFFFF;
    @include border_radius(5px);
    margin-bottom: 20px;
    text-align: center;
    color: #575757;
    text-decoration: none;
    span{
        width: 50%;
        margin: 0 auto;
        display: block;
        font-weight: bold;
        font-size: 16px;
    }
    span.text{
        padding-top: 50px;
    }
    span.text2{
        padding-top: 30px;
    }
    .input_tel{
        width: 120px;
        margin: 5px auto;
        background: #444444;
        border: none;
        color: #FFFFFF;
    }
    i{
        display: block;
        position: absolute;
        margin-top: -8px;
    }
    i.llama-PC{
        background: url(../images/ico_pc.png) no-repeat;
        background-size: 57px;
        width: 57px;
        height: 47px;
    }
    i.llama-oficina{
        background: url(../images/ico_telofi.png) no-repeat;
        background-size: 54px;
        width: 54px;
        height: 43px;
    }
    i.llama-movil{
        background: url(../images/ico_movil.png) no-repeat;
        background-size: 28px;
        width: 28px;
        height: 52px;
        margin-top: -15px;
    }
    i.llama-tel{
        background: url(../images/ico_tel.png) no-repeat;
        background-size: 28px;
        width: 28px;
        height: 48px;
        margin-top: 5px;
    }
}
.footer {
    background: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #a3a3a3;
    font-size: 12px;
    padding: 5px;

    a, a:hover {
        color: #a3a3a3;
        font-size: 12px;
        font-weight: normal;
        margin-left: 20px;
    }
}

/************** RESPONSIVE **************/
@media screen and (max-width: 1200px) {
    .header{
        .user{
            padding-top: 5px;
            b{
                display: block;
                clear: both;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .login_back {
        .bienvenida{
            padding-top: 40px;
            .p_big{
                font-size: 45px;    
            }
            .p_small{
                font-size: 33px;    
            }
        }
    }
    .header{
        .user{
            padding-top: 5px;
            b{
                display: block;
                clear: none;
            }
        }
    }
    .content{
        padding: 110px 0 50px 0;
    }
}
@media screen and (max-width: 650px) {
    .conexion_btn,
    .conexion_btn:hover,
    .conexion_btn:active{
        span{
            width: 80%;
        }
    }
}
@media screen and (max-width: 575px) {
    .header{
        .user{
            clear: both;
            display: block;
            font-size: 14px;
        }
    }
    .header,
    .subheader,
    .footer{
        position: static;
    }
    .content{
        padding: 20px 0 20px 0;
    }
    .login_back {
        .login_footer {
            position: static;
        }
    }
}
@media screen and (max-width: 455px) {
    .header{
        .user{
            font-size: 12px;
            b{
                display: block;
                clear: both;
            }
        }
    }
    .conexion_btn,
    .conexion_btn:hover,
    .conexion_btn:active{
        span{
            width: 90%;
        }
        span.text,
        span.text2{
            font-size: 12px;
        }
    }
}
@media screen and (max-width: 320px) {
    .login_back {
        padding-top: 20px;
        .form-signin {

            .logo{
                background-size: 160px;
                width: 160px;
                height: 70px;
            }
        }
        .bienvenida{
            padding-top: 20px;
            .p_big{
                font-size: 25px;    
            }
            .p_small{
                font-size: 18px;    
            }
        }
    }
    .header{
        .user{
            font-size: 12px;
        }
    }
    .subheader{
        span{
            font-size: 9px;
        }
        span.hora{
            margin-left: 10px;
        }
    }
    .content_table{
        h4{
            font-size: 14px;
        } 
    }
    .conexion_btn,
    .conexion_btn:hover,
    .conexion_btn:active{
        span.text,
        span.text2{
            text-align: right;
        }
        .input_tel{
            float: right;
            margin-right: 10px;
        }
    }
}