/*$icon-font-path: "/bower_components/sass-bootstrap/fonts/";*/
/*@import 'sass-bootstrap/lib/bootstrap';*/

/* VARIABLES */
$logo_bg: "../images/logo.png";

/* MIXINS */
@mixin border_radius($radius: 10px) {
    border-radius: $radius !important;
    -webkit-border-radius: $radius !important;
    -moz-border-radius: $radius !important;
}

@mixin gradient_top_bottom($color_top: #ffffff, $color_bottom: #000000) {
    background: $color_top !important;
    background: -moz-linear-gradient(top, $color_top 0%, $color_bottom 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_top), color-stop(100%,$color_bottom)) !important;
    background: -webkit-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
    background: -o-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
    background: -ms-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
    background: linear-gradient(to bottom, $color_top 0%,$color_bottom 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_top', endColorstr='$color_bottom',GradientType=0 ) !important;
}
@mixin box_shadow($shadow: #000000){
    -moz-box-shadow: 0 0 5px $shadow;
    -webkit-box-shadow: 0 0 5px $shadow;
    box-shadow: 0 0 5px $shadow;
}
@mixin anim_transicion_ease( $segundos: 0.3s ){
    transition: all $segundos ease;
    -ms-transition: all $segundos ease;
    -webkit-transition: all $segundos ease;
    -o-transition: all $segundos ease;
    -moz-transition: all $segundos ease;
}
@mixin anim_transicion_linear( $segundos: 0.3s ){
    transition: all $segundos linear;
    -ms-transition: all $segundos linear;
    -webkit-transition: all $segundos linear;
    -o-transition: all $segundos linear;
    -moz-transition: all $segundos linear;
}
@mixin anim_key( $anim: spin, $segundos: 0.3s ){
    -webkit-animation: $anim $segundos linear;
    -moz-animation: $anim $segundos linear;
    animation: $anim $segundos linear;
}
@mixin anim_key_infinite( $anim: spin, $segundos: 0.3s ){
    -webkit-animation: $anim $segundos infinite linear;
    -moz-animation: $anim $segundos infinite linear;
    animation: $anim $segundos infinite linear;
}


/* KEYFRAMES */
@keyframes input_icon {
    0% { background-position: 5px 6px; }
    25% { background-position: 5px 10px; }
    75% { background-position: 5px 0px; }
    100% { background-position: 5px 6px; }
}
@-webkit-keyframes input_icon {
    0% { background-position: 5px 6px; }
    25% { background-position: 5px 10px; }
    75% { background-position: 5px 0px; }
    100% { background-position: 5px 6px; }
}
@keyframes icon_move {
    0% { margin-left: -5px; }
    25% { margin-left: 0; }
    75% { margin-left: 5px; }
    100% { margin-left: 0; }
}
@-webkit-keyframes icon_move {
    0% { margin-left: -5px; }
    25% { margin-left: 0; }
    75% { margin-left: 5px; }
    100% { margin-left: 0; }
}
@keyframes shine {
    0% { opacity:0.7;filter:alpha(opacity=70); }
    25% { opacity:0.7;filter:alpha(opacity=70); }
    50% { opacity:1;filter:alpha(opacity=100); }
    51% { opacity:1;filter:alpha(opacity=100); }
    75% { opacity:0.7;filter:alpha(opacity=70); }
    100% { opacity:0.7;filter:alpha(opacity=70); }
}
@-webkit-keyframes shine {
    0% { opacity:0.7;filter:alpha(opacity=70); }
    25% { opacity:0.7;filter:alpha(opacity=70); }
    50% { opacity:1;filter:alpha(opacity=100); }
    51% { opacity:1;filter:alpha(opacity=100); }
    75% { opacity:0.7;filter:alpha(opacity=70); }
    100% { opacity:0.7;filter:alpha(opacity=70); }
}
@keyframes shine_star {
    0% { opacity:0;filter:alpha(opacity=0); }
    25% { opacity:0;filter:alpha(opacity=0); }
    50% { opacity:1;filter:alpha(opacity=100); }
    51% { opacity:1;filter:alpha(opacity=100); }
    75% { opacity:0;filter:alpha(opacity=0); }
    100% { opacity:0;filter:alpha(opacity=0); }
}
@-webkit-keyframes shine_star {
    0% { opacity:0;filter:alpha(opacity=0); }
    25% { opacity:0;filter:alpha(opacity=0); }
    50% { opacity:1;filter:alpha(opacity=100); }
    51% { opacity:1;filter:alpha(opacity=100); }
    75% { opacity:0;filter:alpha(opacity=0); }
    100% { opacity:0;filter:alpha(opacity=0); }
}
@keyframes move {
    0% { 
        background-position: 0 60%, 100% 50%;  
    }
    100% {
        background-position: 0 60%, 0 50%;  
    }
}
@-webkit-keyframes move {
    0% { 
        background-position: 0 60%, 100% 50%;  
    }
    100% {
        background-position: 0 60%, 0 50%;  
    }
}

body, html, #mainDiv {
    height: 100%;
    font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", Arial, sans-serif;
}
body{
    background: #000000 url(../images/bg.png) center center no-repeat;    
    background-size: cover;
    background-attachment:fixed;
    #mainDiv{
        background: none;
    }
}

/* MARGINS */
.margin0{
    margin: 0!important;
}


/************** COMPONENTES ANGULAR **************/
.gridStyle {
    overflow: hidden;
    margin-bottom: 10px;
    .ngVerticalBar{
        display: none;
    }
    .ngHeaderScroller{
        background: #3d3d3d;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
    }
    .ngRow{
        font-size: 12px;
    }
    .ngRow.even{
        background: #d1d3d4;
    }
    .ngRow.odd{
        background: #FFFFFF;
    }
}
/************** LOGIN **************/
.login_back {
    padding-top: 90px;
   .form-signin {
        max-width: auto;
        padding: 20px;
        margin: 0 auto 20px;
        background: #000000;

        @include border_radius(10px);

        .logo{
            background-color: #a3a3a3;
            background-image: url(), radial-gradient(80px 600px at center, #FFFFFF 0%, rgba(117,116,116,0) 50%, rgba(117,116,116,0));
            background-size: 600%;
            background-position: 0 60%, 0 100%;
            @include anim_key_infinite(move,3s);
            width: 240px;
            height: 102px;
            margin: 0 auto;
            .mfm{
                background: url($logo_bg) center center no-repeat;
                background-size: 240px;
                width: 240px;
                height: 102px;
                margin: 0 auto;
            }
        }
        input{
            background: #000000;
            border:1px solid #464646;
            margin: 8px 0;
            padding: 3px 5px 3px 30px;
            color: #b1b1b1;
        }
        input.input_user{
            background: url(../images/ico_user.png) 5px 6px no-repeat;
        }
        input.input_pass{
            background: url(../images/ico_pass.png) 5px 6px no-repeat;
        }
        input:focus{
            @include anim_key( input_icon, 0.17s );
            border-color: #a3a3a3;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
        a, a:hover {
            color: #a3a3a3;
            font-size: 12px;
            font-weight: normal;
            text-decoration: underline;
            @include anim_transicion_ease(0.5s);
        }
        a:hover{
            color: #FFFFFF;
        }
        .btn{
            color: #a3a3a3;
            border: none;
            clear: both;
            width: 100%;
            display: block;
            font-size: 14px;
            padding: 10px 0;
            margin: 20px 0;
            @include gradient_top_bottom( #303030, #0c0d0d);
            @include anim_transicion_ease(0.5s);
        }
        .btn:hover{
            @include gradient_top_bottom( #0c0d0d, #303030); 
            color: #FFFFFF;
        }
        .btn:active{
            position: relative;
            top: 3px;
            left: 3px;
        }
    }
    .bienvenida{
        color: #e5e5e5;
        padding: 145px 0 80px 0;
        p{
            margin: 0;
            line-height: 100%;
        }
        .p_big{
            font-size: 65px;    
        }
        .p_small{
            font-size: 50px;    
        }
        
    }
    .login_footer {
        background: #000000;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        color: #a3a3a3;
        font-weight: bold;
        padding: 5px;
        font-size: 11px;

        a{
            color: #a3a3a3;
            font-size: 11px;
            font-weight: normal;
            @include anim_transicion_ease(0.5s);
        }
        a:hover {
            color: #FFFFFF;
            text-decoration: none!important;
        }
    }
}

/************** INNER HTMLS **************/
.header {
    background: #000000;
    color: #FFFFFF;
    padding: 5px 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    .logo{
        background-color: #a3a3a3;
        background-image: url(), radial-gradient(50px 600px at center, #FFFFFF 0%, rgba(117,116,116,0) 50%, rgba(117,116,116,0));
        background-size: 600%;
        background-position: 0 60%, 0 100%;
        @include anim_key_infinite(move,3s);
        width: 120px;
        height: 50px;
        margin: 0 auto;
        display: block;
        .mfm{
            display: block;
            background: url($logo_bg) center center no-repeat;
            background-size: 120px;
            width: 120px;
            height: 50px;
            margin: 0 auto;
        }
    }
    .user{
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
    }

    button.btn-logout{
        @include anim_transicion_ease(0.4s);
        background: #a3a3a3;
        padding: 5px 15px;
        font-size: 12px;
        margin: 8px 15px 0 5px;
        i{
            display: block;
            float: left;
            position: relative;
            top: -2px;
            margin-right: 10px;
            background: url(../images/ico_salir.png) no-repeat;
            width: 15px;
            height: 17px;
        }
    }
    button.btn-logout:hover{
        /*@include box_shadow(#FFFFFF);*/
        background: #FFFFFF;
    }
}
.subheader{
    background: #212121;
    padding: 5px 0;
    overflow: hidden;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 9999;
    span{
        @include anim_transicion_ease(0.4s);
        text-transform: uppercase;
        font-size: 11px;
        color: #a3a3a3;
        cursor: default;
    }
    span:hover{
        color: #FFFFFF;
    }
    span.fecha{
        background: url(../images/ico_fecha.png) no-repeat;
        padding: 2px 0 0 20px;
        height: 16px;
        display: inline-block;
    }
    span.hora{
        background: url(../images/ico_hora.png) no-repeat;
        padding: 2px 0 0 20px;
        height: 16px;
        display: inline-block;
        margin-left: 20px;
    }
}
.menu_lateral{
    margin-bottom: 20px;
    li{
        @include anim_transicion_ease(0.4s);
        overflow: hidden;
        background: #252525;
        margin-bottom: 5px;
        @include border_radius( 3px );
        a, a:hover, a:active{
            @include anim_transicion_ease(0.4s);
            background:none;
            display: block;
            clear: both;
            color: #a3a3a3;

            i{
                @include anim_transicion_ease(0.4s);
                background-repeat: no-repeat;
                background-position: right top;
                width: 25px;
                height: 25px;
                margin-right: 10px;
                display: block;
                float: left;
                position: relative;
                top: 3px;
            }
            i.ico-saldos{
                background-image: url(../images/menu_saldos.png); 
            }
            i.ico-conexion{
                background-image: url(../images/menu_conexion.png); 
            }
            i.ico-autorizar{
                background-image: url(../images/menu_autorizar.png); 
            }
            i.ico-transferencias{
                background-image: url(../images/menu_transferencias.png); 
            }
            i.ico-administracion{
                background-image: url(../images/menu_administracion.png); 
            }
            span.arrow{
                @include anim_transicion_ease(0.4s);
                background: url(../images/menu_h.png) right center no-repeat;
                background-size: 23px;
                width: 23px;
                height: 40px;
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                margin-right: -23px;
            }
        }
    }
    li.active,
    li:hover{
        background: #f4f5f5;
        /*@include gradient_top_bottom( #b6b7b8, #f4f5f5);*/
        a, a:hover, a:active{
            
            color: #000000;
            i.ico-saldos{
                background-image: url(../images/menu_saldos_h.png); 
            }
            i.ico-conexion{
                background-image: url(../images/menu_conexion_h.png); 
            }
            i.ico-autorizar{
                background-image: url(../images/menu_autorizar_h.png); 
            }
            i.ico-transferencias{
                background-image: url(../images/menu_transferencias_h.png); 
            }
            i.ico-administracion{
                background-image: url(../images/menu_administracion_h.png); 
            }
            span.arrow{
                margin-right: -3px;
            }
        }
    }
}
.ayuda_linea{
    background: #FFFFFF;
    @include border_radius( 5px );
    overflow: hidden;
    margin-bottom: 20px;
    
    .btn_ayuda_linea,
    .btn_ayuda_linea:hover,
    .btn_ayuda_linea:active{
        display: block;
        width: auto;
        
        padding: 5px 10px 10px 10px;
        text-align: center;
        text-decoration: none;
        color: #000000;
        
        i.ayuda{
            display: inline-block;
            position: relative;
            top: 5px;
            background: url(../images/ico_ayuda.png) no-repeat;
            background-size: 18px;
            width: 18px;
            height: 18px;
            margin: 0 10px 0 0;
        }
        i.arrow{
            @include anim_transicion_ease(0.4s);
            display: inline-block;
            position: relative;
            background: url(../images/arrow_top.png) no-repeat;
            background-size: 8px;
            width: 8px;
            height: 7px;
            margin: 0 0 0 10px;
        }
    }
    .btn_ayuda_linea.cerrado{
        i.arrow{
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);   
        }
    }
    .btn_ayuda_linea.abierto{
        i.arrow{
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);    
        }
    }
    .chat{
        background: #FFFFFF;
        width: auto;
        height: 200px;
        margin: 10px;
        display: none;
    }
}


.banners{
    margin: 60px 0 0 0;
    text-align: center;
    overflow: hidden;
    img{
        padding: 0;
        margin: 0 0 15px 0;
    }
}
.content{
    padding: 110px 0 30px 0;
}

.content_table.desactivo{
    height: 0px;
}
.content_table.activo{
    height: auto;
}
.content_table{
    background: #ffffff;
    padding: 8px 0;
    overflow: hidden;
    margin: 0 0 15px 0;
    @include border_radius( 5px );
    @include anim_transicion_ease(0.5s);
    h4{
        display: block;
        width: auto;
        margin: 0 10px;
        cursor: pointer;
    } 
    h4.abierto{
        background: url(../images/ico_minus.png) right center no-repeat;
    } 
    h4.cerrado{
        background: url(../images/ico_plus.png) right center no-repeat;
    } 
    .table-responsive{
        margin-top: 20px;
        border:none!important;
        .table{
            margin: 0; 
            thead{
                tr{
                    td{
                        border: none;
                        background: #3d3d3d;
                        color: #FFFFFF;
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
            }
            tbody{
                tr{
                    @include anim_transicion_ease(0.4s);
                    cursor: pointer;
                    td{
                        border: none;
                        color: #2e2e2e;
                        font-size: 12px;
                        a, a:hover, a:active{
                            color: #2e2e2e;
                            text-decoration: none;
                        }
                    }

                }
                tr:nth-child(odd){
                    background: #d1d3d4;
                }
                tr:nth-child(even){
                    background: #FFFFFF;
                }
                tr:hover{
                    background: #a3a3a3;
                }
            }
        }
    }
}
.notificaciones{
    @include border_radius(5px);
    padding: 0 5px;
    margin-bottom: 10px;
    .titulo{
        background: #252525;
        display: block;
        height: 35px;
        font-size: 18px;
        color: #a3a3a3;
        margin: 0;
        padding: 5px 8px;
    }
    .head{
        background: #3d3d3d;
        color: #a3a3a3;
        padding: 5px 10px;
        p{
            margin: 0;
        }
    }
    ul{
        background: #252525;
        list-style: none;
        padding: 0;
        li{
            text-align: left;
            border-bottom: 1px solid #5e5e5e;
            padding: 5px 10px;
            a{
                @include anim_transicion_ease(0.1s);
                font-size: 12px;
                color: #6da1d4;
                text-decoration: underline;
            }
            a:hover{
                padding-left: 5px;
            }
        }
        li:last-child{
            border-bottom: none;
        }
    }
}
.conexion_btn.desactivo{
    height: 0px;
}
.conexion_btn.activo{
    height: 130px;
}
.conexion_btn,
.conexion_btn:active{
    @include anim_transicion_ease(0.4s);
    width: auto;
    height: 120px;
    display: block;
    clear: both;
    background: #FFFFFF;
    @include border_radius(5px);
    margin-bottom: 20px;
    text-align: center;
    color: #575757;
    text-decoration: none;
    overflow: hidden;
    span{
        width: 50%;
        margin: 0 auto;
        display: block;
        font-weight: bold;
        font-size: 20px;
    }
    span.text{
        padding-top: 50px;
    }
    span.text2{
        padding-top: 30px;
    }
    .input_tel{
        width: 190px;
        margin: 5px auto;
        background: #444444;
        border: none;
        color: #FFFFFF;
    }
    i{
        @include anim_transicion_ease(0.1s);
        display: none;
        position: absolute;
        margin-top: -8px;
    }
    i.llama-PC{
        background: url(../images/ico_pc.png) no-repeat;
        background-size: 50px;
        width: 50px;
        height: 41px;
    }
    i.llama-oficina{
        background: url(../images/ico_telofi.png) no-repeat;
        background-size: 50px;
        width: 50px;
        height: 40px;
    }
    i.llama-movil{
        background: url(../images/ico_movil.png) no-repeat;
        background-size: 20px;
        width: 20px;
        height: 37px;
        margin-top: -5px;
    }
    i.llama-tel{
        background: url(../images/ico_tel.png) no-repeat;
        background-size: 20px;
        width: 20px;
        height: 34px;
        margin-top: 15px;
    }
}
.conexion_btn:hover{
    @include box_shadow(#FFFFFF);
    color: #575757;
    text-decoration: none;
}
.footer {
    background: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #a3a3a3;
    font-size: 11px;
    padding: 5px;

    a, a:hover {
        @include anim_transicion_ease(0.5s);
        color: #a3a3a3;
        font-size: 11px;
        font-weight: normal;
        margin-left: 20px;
    }
    a:hover{

        color: #FFFFFF!important;
        text-decoration: none!important;
    }
    span.text-right{
        display: block;
    }
}



/************** RESPONSIVE **************/
@media screen and (max-width: 1200px) {
    .header{
        .user{
            padding-top: 5px;
            b{
                display: block;
                clear: both;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .login_back {
        .bienvenida{
            padding-top: 40px;
            .p_big{
                font-size: 45px;    
            }
            .p_small{
                font-size: 33px;    
            }
        }
    }
    .header{
        .user{
            padding-top: 5px;
            b{
                display: block;
                clear: none;
            }
        }
    }
    .content{
        padding: 110px 0 50px 0;
    }
    .footer{
        span.text-right{
            text-align: left;
        }
    }
}
@media screen and (max-width: 650px) {
    .conexion_btn,
    .conexion_btn:hover,
    .conexion_btn:active{
        span{
            width: 80%;
        }
    }
}
@media screen and (max-width: 575px) {
    .header{
        .user{
            clear: both;
            display: block;
            font-size: 14px;
        }
    }
    .header,
    .subheader,
    .footer{
        position: static;
    }
    .content{
        padding: 20px 0 20px 0;
    }
    .login_back {
        .login_footer {
            position: static;
        }
    }
}
@media screen and (max-width: 455px) {
    .header{
        .user{
            font-size: 12px;
            b{
                display: block;
                clear: both;
            }
        }
    }
    .conexion_btn,
    .conexion_btn:hover,
    .conexion_btn:active{
        span{
            width: 90%;
        }
        span.text,
        span.text2{
            font-size: 12px;
        }
    }
}
@media screen and (max-width: 320px) {
    .login_back {
        padding-top: 20px;
        .form-signin {

            .logo{
                width: 160px;
                height: 68px;
                .mfm{
                    background-size: 160px;
                    width: 160px;
                    height: 68px;    
                }
                
            }
        }
        .bienvenida{
            padding-top: 20px;
            .p_big{
                font-size: 25px;    
            }
            .p_small{
                font-size: 18px;    
            }
        }
    }
    .header{
        .user{
            font-size: 12px;
        }
        .logo{
            width: 100px;
            height: 42px;
            .mfm{
                background-size: 100px;
                width: 100px;
                height: 42px;
            }
        }
    }
    .subheader{
        span{
            font-size: 9px;
        }
        span.hora{
            margin-left: 10px;
        }
    }
    .content_table{
        h4{
            font-size: 14px;
        } 
    }
    .conexion_btn,
    .conexion_btn:hover,
    .conexion_btn:active{
        span.text,
        span.text2{
            text-align: right;
        }
        .input_tel{
            width: 150px;
            float: right;
            margin-right: 10px;
        }
    }
}
