<h1 class="title-account">
  <span>Detalle de cuenta</span> {{selectedAccount.account_name}} {{selectedAccount.account_number}}
</h1>
<div class="row detalles">
  <div class="col-md-3 content-logo">
    <div class="logo logo-alcancia"></div>
  </div>
  <div class="col-md-9">
    <div class="saldos-cuenta">
      <span class="text">Saldo disponible:</span>
      <span class="amount">{{detail.available_balance | currency}}</span>
    </div>
    <div class="saldos-cuenta">
      <span class="text">Beneficios generados:</span>
      <span class="amount">$ 8.50</span>
    </div>
  </div>
</div>
<div class="row tablas-detalle">
  <div class="col-md-6">
    <table>
      <tbody>
        <tr>
          <td>Saldo disponible:</td>
          <td>{{detail.available_balance | currency}}</td>
        </tr>
        <tr>
          <td>CLABE:</td>
          <td>{{detail.clabe_account}}</td>
        </tr>
        <tr>
          <td>D&iacute;a de corte:</td>
          <td>{{detail.cut_date | date: 'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table>
      <tbody>
        <tr>
          <td>Fecha &uacute;ltimo movimiento:</td>
          <td>{{detail.last_mov_date | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td>Dep&oacute;sitos del d&iacute;a:</td>
          <td>{{detail.total_deposit_day | currency}}</td>
        </tr>
        <tr>
          <td>Retiros del d&iacute;a:</td>
          <td>{{detail.withdrawal_day | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
