<h1 class="title-account">
  <span>{{"detail.DetalleCuenta" | translate}}</span> {{selectedAccount.account_name}} {{selectedAccount.account_number}}
</h1>
<div class="row detalles">
  <div class="col-md-3 content-logo">
    <div class="logo logo-alcancia"></div>
  </div>
  <div class="col-md-9">
    <div class="saldos-cuenta">
      <span class="text">{{"saving.detail.SaldoDisponible" | translate}}:</span>
      <span class="amount">{{detail.available_balance | currency}}</span>
    </div>
    <div class="saldos-cuenta">
      <span class="text">{{"saving.detail.BeneficiosGenerados" | translate}}:</span>
      <span class="amount">$ 8.50</span>
    </div>
  </div>
</div>
<div class="row tablas-detalle">
  <div class="col-md-6">
    <table>
      <tbody>
        <tr>
          <td>{{"saving.detail.SaldoDisponible" | translate}}:</td>
          <td>{{detail.available_balance | currency}}</td>
        </tr>
        <tr>
          <td>{{"saving.detail.Clabe" | translate}}:</td>
          <td>{{detail.clabe_account}}</td>
        </tr>
        <tr>
          <td>{{"detail.DiaCorte" | translate}}:</td>
          <td>{{detail.cut_date | date: 'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table>
      <tbody>
        <tr>
          <td>{{"saving.detail.FechaUltimoMovimiento" | translate}}:</td>
          <td>{{detail.last_mov_date | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td>{{"saving.detail.DepositosDia" | translate}}:</td>
          <td>{{detail.total_deposit_day | currency}}</td>
        </tr>
        <tr>
          <td>{{"saving.detail.RetirosDia" | translate}}:</td>
          <td>{{detail.withdrawal_day | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
