<div class="row">
	<div class="col-md-12">
		<input ng-model="search" type="text" class="form-control input-search" placeholder="{{'transactions.UltimosMovimientos' | translate}}">
	</div>
</div>
<div class="row filtro">
	<div class="col-md-5">
		<p class="label">{{"transactions.PorFecha" | translate}}:</p>
		<div class="input-group">
			<input type="text" class="date date-from" ng-model="searchParams.startDate" ng-change="searchTransactions()" fddatepicker placeholder="00/00/0000">
			<input type="text" class="date date-to" ng-model="searchParams.endDate" ng-change="searchTransactions()" fddatepicker placeholder="00/00/0000">
		</div><!-- /input-group -->

	</div>
	<div class="col-md-5">
		<p class="label">{{"transactions.PorMonto" | translate}}:</p>
		<div class="btn-group" role="group">

			<button type="button" class="btn btn-default">{{"transactions.Desde" | translate}}</button>
			<button type="button" class="btn btn-default">{{"transactions.Hasta" | translate}}</button>
		</div>
	</div>
	<div class="col-md-2">
		<button type="button" class="btn btn-success">{{"transactions.Descargas" | translate}}</button>
	</div>
</div>


<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<td>{{"transactions.Fecha" | translate}}</td>
				<td>{{"transactions.Descripcion" | translate}}</td>
				<td>{{"saving.transactions.Importe" | translate}}</td>
				<td>{{"investment.detail.Saldo" | translate}}</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="transaction in transactions | filter:search">
				<td>{{transaction.date | date:'longDate'}}</td>
				<td>{{transaction.description}}</td>
				<td ng-class="{{transaction.type == false ? 'negativo' : ''}}">{{transaction.amount | currency}}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
