<div class="signup_content">
	<div class="signup_header">
		<div class="container">
			<a href="#"><button class="btn btn-warning btn-salir pull-right">{{"register.Salir" | translate}}</button></a>
			<div class="logo"></div>
		</div>
	</div><br>
Contacto.
	<div class="signup_footer">
		<div class="container">
			<div class="row">
				<p class="col-md-6">&copy; 2015 Fundaci&oacute;n Dond&eacute; Banco</p>
				<p class="col-md-6 text-right">
					<a href="#/terms">{{"login.Terminos" | translate}}</a> |
					<a href="#/security">{{"login.Seguridad" | translate}}</a> |
					<span style="display: inline;" ng-translate-language-select></span>
				</p>
			</div>
		</div>
	</div>
</div>
