<div class="signup_content">
	<div class="signup_header">
		<div class="container">
			<button class="btn btn-warning btn-salir pull-right" ng-click="logout()">Salir</button>
			<div class="logo"></div>
		</div>
	</div>
Seguridad.
	<div class="signup_footer">
		<div class="container">
			<div class="row">
				<p class="col-md-6">&copy; 2015 Fundaci&oacute;n Dond&eacute; Banco</p>
				<p class="col-md-6 text-right">
					<a href="#/terms">T&eacute;rminos y Condiciones de Uso</a> |
					<a href="#/security">Seguridad</a>
				</p>
			</div>
		</div>
	</div>
</div>