<div class="login_back"><div>
<div class="login_content">
	<div class="login_header">
		<div class="container">
			<div class="row">
				<p class="col-md-6">
					<a href="http://www.frd.org.mx/">Regresar al portal</a>
				</p>
				<p class="col-md-6 text-right">
					<a href="javascript:void(0);">Aclaraciones</a> |
					<a href="javascript:void(0);">Aviso de privacidad</a> |
					<a href="javascript:void(0);" ng-click="map();">Sucursales</a>
				</p>
			</div>
		</div>
	</div>
	<div class="container" ng-controller="LoginCtrl">

		<div class="row" ng-show="CheckLogin">
			<div class="col-md-4 col-md-offset-4">
				<form class="form-signin" name="login1">
					<div class="logo"></div>
					<input type="text" class="form-control input_user" placeholder="Ingresa tu usuario"  ng-model="auth.user_login" ng-required="true" autofocus>
					<div>
						<alert type="danger" class="alert ng-isolate-scope alert-danger alert-dismissible" ng-show="danger.show" close="danger.show = false">
							{{danger.message}}
						</alert>
						<alert type="warning" class="alert ng-isolate-scope alert-warning alert-dismissible" ng-show="warning.show" close="warning.show = false">
							{{warning.message}}
						</alert>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-success" ng-click="checkLogin();" ng-disabled="login1.$invalid || logining">Ingresar</button>
						</div>
					</div>
					<div class="row">
						<p class="text-center">
							<a href="javascript:void(0);" ng-click="password();">&iquest;Olvidaste tu contraseña?</a> |
							<a href="javascript:void(0);">Cont&aacute;ctenos</a>
						</p>
					</div>
				</form>
			</div>
		</div>

		<alert type="success" ng-bind-html="invite.message" class="success ng-isolate-scope alert-warning alert-dismissible" ng-show="invite.show" close="invite.show = false"></alert>

		<div class="row" ng-hide="CheckLogin">

			<div class="col-md-8 col-md-offset-2">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h1>Acceso a Fundaci&oacute;n Dond&eacute; Banco</h1>
						Por tu seguridad, comprueba que la imagen que se muestra a continuaci&oacute;n y el saludo corresponde con lo que seleccionaste en tu acceso a Fundaci&oacute;n Dond&eacute; Banco
					</div>
					<div class="panel-body">
						<div class="row">
							<form name="login2">
								<div class="col-md-6 col-md-offset-3">
									<h2 class="text-center">{{auth.response.anti_phishing_statement}}</h2>
									<div class="user">
										<img alt="..." ng-src="data:image/png;base64,{{auth.response.image_content}}" /class="img-thumbnail">
									</div>
									<div ng-show="auth.response.new_condition_action === 'Y'">
										<label class="checkbox">
											<input type="checkbox" ng-model="auth.new_condition_action" ng-required="auth.response.new_condition_action === 'Y'">
											Acepto <a href="javascript:void(0);">T&eacute;rminos y Condiciones de Uso</a>,<br>Fundaci&oacute;n Dond&eacute; Banco
										</label>
									</div>
									<div>
										<alert type="danger" class="alert ng-isolate-scope alert-danger alert-dismissible" ng-show="danger.show" close="danger.show = false">
											{{danger.message}}
										</alert>
										<alert type="warning" class="alert ng-isolate-scope alert-warning alert-dismissible" ng-show="warning.show" close="warning.show = false">
											{{warning.message}}
										</alert>
									</div>
									<input type="password" class="form-control" placeholder="Ingresa tu contrase&ntilde;a" ng-model="auth.password"  ng-required="true">
									<button class="btn btn-success form-control" ng-click="login()" ng-disabled="login2.$invalid || logining">Acceder</button>
								</div>
							</form>
						</div>
					</div>
					<div class="panel-footer text-center">
						Si los datos no coinciden comun&iacute;cate a nuestro centro de atenci&oacute;n telef&oacute;nica: <a href="tel: 018003663386">01 800 3663386</a>
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="login_footer">
		<div class="container">
			<div class="row">
				<p class="col-md-6">&copy; 2015 Fundaci&oacute;n Dond&eacute; Banco</p>
				<p class="col-md-6 text-right">
					<a href="javascript:void(0);">T&eacute;rminos y Condiciones de Uso</a> |
					<a href="javascript:void(0);">Seguridad</a>
				</p>
			</div>
		</div>
	</div>
</div>
