<div class="login_back"><div>
<div class="login_content">
	<div class="login_header">
		<div class="container">
			<div class="row">
				<p class="col-md-6">
					<a href="javascript:void(0);">Regresar al portal</a>
				</p>
				<p class="col-md-6 text-right">
					<a href="javascript:void(0);">Aclaraciones</a> |
					<a href="javascript:void(0);">Aviso de privacidad</a> |
					<a href="javascript:void(0);">Sucursales</a>
				</p>
			</div>
		</div>
	</div>
	<div class="container" ng-controller="LoginCtrl">

		<div class="row" ng-show="CheckLogin">
			<div class="col-md-4 col-md-offset-4">
				<form class="form-signin">
					<div class="logo"></div>
					<input type="text" class="form-control input_user" placeholder="Ingresa tu usuario"  ng-model="auth.user_login" required autofocus>
					<div class="row">
						<div class="col-md-6">
							<button class="btn btn-success" ng-click="auth.with_token = 'N'; checkLogin();">Sin token</button>
						</div>
						<div class="col-md-6">
							<button class="btn btn-success" ng-click="auth.with_token = 'Y'; checkLogin();">Con token</button>
						</div>
					</div>
					<div class="row">
						<p class="text-center">
							<a href="javascript:void(0);">&iquest;Olvidaste tu usuario?</a> |
							<a href="javascript:void(0);">Cont&aacute;ctenos</a>
						</p>
					</div>
				</form>
			</div>
		</div>

		<div class="row" ng-hide="CheckLogin">


			<h1>Acceso a Fundaci&oacute;n Dond&eacute; Banco</h1>
			<div class="panel panel-default">
				<div class="panel-heading">
					Por tu seguridad, comprueba que la imagen que se muestra a continuaci&oacute;n y el saludo corresponde con lo que seleccionaste en tu acceso a Fundaci&oacute;n Dond&eacute; Banco
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<h2 class="text-center">{{auth.response.anti_phishing_statement}}</h2>
							<div class="user">
								<img alt="..." src="data:image/png;base64,{{auth.response.image_content}}" /class="img-thumbnail">
							</div>
							<label class="checkbox">
								<input type="checkbox">
								Acepto <a href="javascript:void(0);">T&eacute;rminos y Condiciones de Uso</a>,<br>Fundaci&oacute;n Dond&eacute; Banco
							</label>
							<input type="password" class="form-control" placeholder="Ingresa tu contrase&ntilde;a" ng-model="auth.password" required>
							<button class="btn btn-success form-control" ng-click="login()">Acceder</button>
						</div>
					</div>
				</div>
				<div class="panel-footer text-center">
					Si los datos no coinciden comun&iacute;cate a nuestro centro de atenci&oacute;n telef&oacute;nica: <a href="tel: 018003663386">01 800 3663386</a>
				</div>
			</div>
		</div>

	</div>
	<div class="login_footer">
		<div class="container">
			<div class="row">
				<p class="col-md-6">&copy; 2015 Fundaci&oacute;n Dond&eacute; Bacno</p>
				<p class="col-md-6 text-right">
					<a href="javascript:void(0);">T&eacute;rminos y Condiciones de Uso</a> |
					<a href="javascript:void(0);">Seguridad</a>
				</p>
			</div>
		</div>
	</div>
</div>
