<div class="signup_content">
	<div class="signup_header">
		<div class="container">
			<button class="btn btn-warning btn-salir pull-right" ng-click="logout()">Salir</button>
			<div class="logo"></div>
		</div>
	</div>	
	<div class="col-md-8 col-md-offset-2">
		<h1>Cambio de contraseña</h1>
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Ingresa una nueva contrase&ntilde;a</h2>
				<div class="divider"></div>
				<form name="form_new">
					<div class="row">
						<div class="col-md-4 col-md-offset-1">
							<p>*Ingresa tu contrase&ntilde;a</p>
						</div>
						<div class="col-md-5">
							<input type="password" class="form-control" placeholder="Ingresa tu contrase&ntilde;a" ng-model="pass.old" ng-required="true" ng-focus="ant=true" ng-blur="ant=false">
							<div class="tooltip-input" ng-show="ant">
								<div class="arrow"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-1">
							<p>*Nueva contrase&ntilde;a</p>
						</div>
						<div class="col-md-5">
							<input type="password" class="form-control" placeholder="Ingresa una nueva contrase&ntilde;a" ng-model="pass.password" ng-required="true" maxlength="12" ng-focus="new=true" ng-blur="new=false">
							<div class="tooltip-input" ng-show="new">
								<div class="arrow"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-1">
							<p>*Confirma contrase&ntilde;a</p>
						</div>
						<div class="col-md-5">
							<input type="password" class="form-control" placeholder="Confirma la contrase&ntilde;a nueva" ng-model="pass.confirm" ng-required="true" maxlength="12" ng-focus="con=true" ng-blur="con=false">
							<div class="tooltip-input" ng-show="con">
								<div class="arrow"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
					</div>
					<div class="divider"></div>
					<div>
						<alert type="danger" class="alert ng-isolate-scope alert-danger alert-dismissible" ng-show="danger.show" close="danger.show = false">
							{{danger.message}}
						</alert>
						<alert type="warning" class="alert ng-isolate-scope alert-warning alert-dismissible" ng-show="warning.show" close="warning.show = false">
							{{warning.message}}
						</alert>
					</div>
					<div class="row">
						<div class="col-md-5 col-md-offset-5">
							<button class="btn btn-success form-control" ng-click="change_password()" ng-disabled="form_new.$invalid || changing_pass">Acceder</button>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer">*Campos necesarios</div>
		</div>
		<div class="signup_footer">
			<div class="container">
				<div class="row">
					<p class="col-md-6">&copy; 2015 Fundaci&oacute;n Dond&eacute; Banco</p>
					<p class="col-md-6 text-right">
						<a href="#/terms">T&eacute;rminos y Condiciones de Uso</a> |
						<a href="#/security">Seguridad</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
