<div class="signup_content">
	<div class="signup_header">
		<div class="container">
			<button class="btn btn-warning btn-salir pull-right" ng-click="logout()">Salir</button>
			<div class="logo"></div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<h1>&iquest;Olvidaste tu contrase&ntilde;a?</h1>
		<div class="panel panel-default">
			<div class="panel-heading">Para crear una nueva contrase&ntilde;a, ingresa los siguientes datos</div>
				<div ng-switch on="selection">
					<div class="panel-body" ng-switch-when="0">
						<form name="pass_form">
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*Usuario</p>
								</div>
								<div class="col-md-5">
									<input type="text" class="form-control" placeholder="Ingresa tu usuario" ng-model="pass.user_login" ng-required="true" ng-focus="user=true" ng-blur="user=false" ng-minlength="5" maxlength="12" onkeypress="return validate(event)">
									<div class="tooltip-input" ng-show="user">
										<div class="arrow"></div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</div>
							<div class="divider"></div>
							<div>
								<alert type="danger" class="alert ng-isolate-scope alert-danger alert-dismissible" ng-show="danger.show" close="danger.show = false">
									{{danger.message}}
								</alert>
								<alert type="warning" class="alert ng-isolate-scope alert-warning alert-dismissible" ng-show="warning.show" close="warning.show = false">
									{{warning.message}}
								</alert>
							</div>
							<div class="row">
								<div class="col-md-5 col-md-offset-5">
									<button class="btn btn-success form-control" ng-click="forgetPassword();" ng-disabled="pass_form.$invalid || sending">Confirmar datos</button>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-body" ng-switch-when="1">
						<form name="pass_form1">
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*Pregunta 1</p>
								</div>
								<div class="col-md-5">
									<select class="form-control" ng-model="pass.first_question_id" ng-options="question.description for question in pass.response.questions" ng-required="true" ng-focus="p1=true" ng-blur="p1=false">
										<option value="">Selecciona una pregunta</option>
									</select>
									<div class="tooltip-input" ng-show="p1">
										<div class="arrow"></div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<input type="text" class="form-control" placeholder="Escribe la resupuesta" ng-model="pass.first_response" ng-required="true" ng-focus="r1=true" ng-blur="r1=false">
									<div class="tooltip-input" ng-show="r1">
										<div class="arrow"></div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*Pregunta 2</p>
								</div>
								<div class="col-md-5">
									<select class="form-control" ng-model="pass.second_question_id" ng-options="question.description for question in pass.response.questions" ng-required="true" ng-focus="p2=true" ng-blur="p2=false">
										<option value="">Selecciona una pregunta</option>
									</select>
									<div class="tooltip-input" ng-show="p2">
										<div class="arrow"></div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<input type="text" class="form-control" placeholder="Escribe la resupuesta" ng-model="pass.second_response" ng-required="true" ng-focus="r2=true" ng-blur="r2=false">
									<div class="tooltip-input" ng-show="r2">
										<div class="arrow"></div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</div>
							<div class="divider"></div>
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*Fecha de nacimiento</p>
								</div>
								<div class="col-md-5">
									<input type="text" class="date date-from" ng-model="pass.birth_date" ng-required="true" ng-focus="nac=true" ng-blur="nac=false" fddatepicker placeholder="00/00/0000">
									<div class="tooltip-input" ng-show="nac">
										<div class="arrow"></div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</div>
							<div class="divider"></div>
							<div>
								<alert type="danger" class="alert ng-isolate-scope alert-danger alert-dismissible" ng-show="danger.show" close="danger.show = false">
									{{danger.message}}
								</alert>
								<alert type="warning" class="alert ng-isolate-scope alert-warning alert-dismissible" ng-show="warning.show" close="warning.show = false">
									{{warning.message}}
								</alert>
							</div>
							<div class="row">
								<div class="col-md-5 col-md-offset-5">
									<button class="btn btn-success form-control" ng-click="forgetPasswordConfirmation()" ng-disabled="pass_form1.$invalid || sending">Confirmar datos</button>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-body" ng-switch-when="2">
						<h2>Te hemos enviado un correo electrónico con tu contraseña temporal. Ingresa a Fundación Donde y se te notificará que debes capturar una nueva contraseña.</h2>
						<div class="divider"></div>
						<div class="row">
							<div class="col-md-5 col-md-offset-5">
								<button class="btn btn-success form-control" ng-click="logout()">Aceptar</button>
							</div>
						</div>
					</div>
				</div>
			<div class="panel-footer">*Campos necesarios</div>
		</div>
	</div>
	<div class="signup_footer">
		<div class="container">
			<div class="row">
				<p class="col-md-6">&copy; 2015 Fundaci&oacute;n Dond&eacute; Bacno</p>
				<p class="col-md-6 text-right">
					<a href="#/terms">T&eacute;rminos y Condiciones de Uso</a> |
					<a href="#/security">Seguridad</a>
				</p>
			</div>
		</div>
	</div>
</div>
