<div class="signup_content">
	<div class="signup_header">
		<div class="container">
			<button class="btn btn-warning btn-salir pull-right" ng-click="logout()">{{"register.Salir" | translate}}</button>
			<div class="logo"></div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<h1>{{"password.OlvidasteContrasenia" | translate}}</h1>
		<div class="panel panel-default">
			<div class="panel-heading">{{"password.ParaCrearNuevaContrasenia" | translate}}</div>
				<div ng-switch on="selection">
					<div class="panel-body" ng-switch-when="0">
						<form name="pass_form">
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*{{"password.Usuario" | translate}}</p>
								</div>
								<div class="col-md-5">
									<input type="text" class="form-control" placeholder="{{'password.InTuUsuario' | translate}}" ng-model="pass.user_login" ng-required="true" ng-focus="user=true" ng-blur="user=false" ng-minlength="5" maxlength="12" onkeypress="return validate(event)">
									<div class="tooltip-input" ng-show="user">
										<div class="arrow"></div>
										<p>{{"menssages.lorem4" | translate}}</p>
									</div>
								</div>
							</div>
							<div class="divider"></div>
							<div>
								<alert type="danger" class="alert ng-isolate-scope alert-danger alert-dismissible" ng-show="danger.show" close="danger.show = false" translate>
									{{danger.message}}
								</alert>
								<alert type="warning" class="alert ng-isolate-scope alert-warning alert-dismissible" ng-show="warning.show" close="warning.show = false" translate>
									{{warning.message}}
								</alert>
							</div>
							<div class="row">
								<div class="col-md-5 col-md-offset-5">
									<button class="btn btn-success form-control" ng-click="forgetPassword();" ng-disabled="pass_form.$invalid || sending">{{"password.ConfirmarDatos" | translate}}</button>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-body" ng-switch-when="1">
						<form name="pass_form1">
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*{{"register.Pregunta" | translate}} 1</p>
								</div>
								<div class="col-md-5">
									<select class="form-control" ng-model="pass.first_question_id" ng-options="question.description for question in pass.response.questions" ng-required="true" ng-focus="p1=true" ng-blur="p1=false">
										<option value="">{{"register.SeleccionarPregunta" | translate}}</option>
									</select>
									<div class="tooltip-input" ng-show="p1">
										<div class="arrow"></div>
										<p>{{"menssages.lorem5" | translate}}</p>
									</div>
									<input type="text" class="form-control" placeholder="{{'register.EscribeRespuesta' | translate}}" ng-model="pass.first_response" ng-required="true" ng-focus="r1=true" ng-blur="r1=false">
									<div class="tooltip-input" ng-show="r1">
										<div class="arrow"></div>
										<p>{{"menssages.lorem6" | translate}}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*{{"register.Pregunta" | translate}} 2</p>
								</div>
								<div class="col-md-5">
									<select class="form-control" ng-model="pass.second_question_id" ng-options="question.description for question in pass.response.questions" ng-required="true" ng-focus="p2=true" ng-blur="p2=false">
										<option value="">{{"register.SeleccionarPregunta" | translate}}</option>
									</select>
									<div class="tooltip-input" ng-show="p2">
										<div class="arrow"></div>
										<p>{{"menssages.lorem7" | translate}}</p>
									</div>
									<input type="text" class="form-control" placeholder="{{'register.EscribeRespuesta' | translate}}" ng-model="pass.second_response" ng-required="true" ng-focus="r2=true" ng-blur="r2=false">
									<div class="tooltip-input" ng-show="r2">
										<div class="arrow"></div>
										<p>{{"menssages.lorem8" | translate}}</p>
									</div>
								</div>
							</div>
							<div class="divider"></div>
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*{{"password.FechaNacimiento" | translate}}</p>
								</div>
								<div class="col-md-5">
									<input type="text" class="date date-from" ng-model="pass.birth_date" ng-required="true" ng-focus="nac=true" ng-blur="nac=false" fddatepicker placeholder="00/00/0000">
									<div class="tooltip-input" ng-show="nac">
										<div class="arrow"></div>
										<p>{{"menssages.lorem9" | translate}}</p>
									</div>
								</div>
							</div>
							<div class="divider"></div>
							<div>
								<alert type="danger" class="alert ng-isolate-scope alert-danger alert-dismissible" ng-show="danger.show" close="danger.show = false" translate>
									{{danger.message}}
								</alert>
								<alert type="warning" class="alert ng-isolate-scope alert-warning alert-dismissible" ng-show="warning.show" close="warning.show = false" translate>
									{{warning.message}}
								</alert>
							</div>
							<div class="row">
								<div class="col-md-5 col-md-offset-5">
									<button class="btn btn-success form-control" ng-click="forgetPasswordConfirmation()" ng-disabled="pass_form1.$invalid || sending">{{"password.ConfirmarDatos" | translate}}</button>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-body" ng-switch-when="2">
						<h2>{{"password.TeEnviamos" | translate}}</h2>
						<div class="divider"></div>
						<div class="row">
							<div class="col-md-5 col-md-offset-5">
								<button class="btn btn-success form-control" ng-click="logout()">{{"password.Aceptar" | translate}}</button>
							</div>
						</div>
					</div>
				</div>
			<div class="panel-footer">*{{"register.CamposNecesarios" | translate}}</div>
		</div>
	</div>
	<div class="signup_footer">
		<div class="container">
			<div class="row">
				<p class="col-md-6">&copy; 2015 Fundaci&oacute;n Dond&eacute; Banco</p>
				<p class="col-md-6 text-right">
					<a href="#/terms">{{"login.Terminos" | translate}}</a> |
					<a href="#/security">{{"login.Seguridad" | translate}}</a> |
					<span style="display: inline;" ng-translate-language-select></span>
				</p>
			</div>
		</div>
	</div>
</div>
