<div class="signup_content">
	<div class="signup_header">
		<div class="container">
			<button class="btn btn-warning btn-salir pull-right" ng-click="logout()">Salir</button>
			<div class="logo"></div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<h1>Registro</h1>
		<div class="panel panel-default">
			<div class="panel-heading">Por tu seguridad, cambie su contrase&ntilde;a y establezca las m&aacute;ximas medidas de seguridad</div>
				<div ng-switch on="selection">

					<div class="panel-body animate-switch" ng-switch-when="0">
						<div class="paso">
							<h2><span class="ico-check uncheck"></span>Paso 1 <span class="space">Cambio de Contrase&ntilde;a</span></h2>
							<br><br>
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*Ingresa tu contrase&ntilde;a</p>
								</div>
								<div class="col-md-5">
									<input type="password" class="form-control" required ng-model="dataRegister.password">
									<div class="tooltip-input">
										<div class="arrow"></div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*Nueva contrase&ntilde;a</p>
								</div>
								<div class="col-md-5">
									<input type="password" class="form-control" required ng-model="dataRegister.new_password">
									<div class="tooltip-input">
										<div class="arrow"></div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*Confirma contrase&ntilde;a</p>
								</div>
								<div class="col-md-5">
									<input type="password" class="form-control" required ng-model="dataRegister.confirm_password">
									<div class="tooltip-input">
										<div class="arrow"></div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5 col-md-offset-5">
									<button class="btn btn-success form-control" ng-click="register(1);">Cambiar contrase&ntilde;a y continuar</button>
								</div>
							</div>
						</div>
						<div class="paso">
							<h2><span class="ico-check uncheck"></span>Paso 2 <span class="space">Imagen y saludo antiphishing</span></h2>
						</div>
						<div class="paso">
							<h2><span class="ico-check uncheck"></span>Paso 3 <span class="space">Preguntas secretas, t&eacuterminos y condiciones de uso</span></h2>
						</div>
					</div>

					<div class="panel-body animate-switch" ng-switch-when="1">
						<div class="paso">
							<h2><span class="ico-check"></span>Paso 1 <span class="space">Cambio de Contrase&ntilde;a</span></h2>
						</div>
						<div class="paso">
							<h2><span class="ico-check uncheck"></span>Paso 2 <span class="space">Imagen y saludo antiphishing</span></h2>
							<div class="row">
								<div class="col-md-9 col-md-offset-1">
									<p>*Selecciona una imagen</p>
								</div>
								<div class="col-md-9 col-md-offset-2">
									<ng-form name="registerImageForm" class="register-pass">
										<div class="images row">
											<div >
												<label class="col-xs-2 text-center" ng-repeat="image in data.data.images">
													<span ng-click="selectImage(image.id)" ng-class="{'selected' : image.id === dataRegister.image_id}" class="img-responsive">
														<i></i><img alt="..." ng-src="data:image/png;base64,{{image.image_content}}">
													</span>
												</label>
											</div>
										</div>
									</ng-form>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-md-offset-1">
									<p>*Ingresa tu saludo secreto</p>
								</div>
								<div class="col-md-5">
									<input type="text" class="form-control" ng-model="dataRegister.saludo">
									<div class="tooltip-input">
										<div class="arrow"></div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-5 col-md-offset-5">
									<button class="btn btn-success form-control" ng-click="register(2);">Continuar</button>
								</div>
							</div>
						</div>
						<div class="paso">
							<h2><span class="ico-check uncheck"></span>Paso 3 <span class="space">Preguntas secretas, t&eacuterminos y condiciones de uso</span></h2>
						</div>
					</div>

					<div class="panel-body animate-switch" ng-switch-when="2">
						<div class="paso">
							<h2><span class="ico-check"></span>Paso 1 <span class="space">Cambio de Contrase&ntilde;a</span></h2>
						</div>
						<div class="paso">
							<h2><span class="ico-check"></span>Paso 2 <span class="space">Imagen y saludo antiphishing</span></h2>
						</div>
						<div class="paso">
							<h2><span class="ico-check uncheck"></span>Paso 3 <span class="space">Preguntas secretas, t&eacuterminos y condiciones de uso</span></h2>

								<div class="row">
									<div class="col-md-4 col-md-offset-1">
										<p>*Pregunta 1</p>
									</div>
									<div class="col-md-5">
										<select class="form-control" ng-model="dataRegister.question1" ng-options="question.description for question in data.data.questions">
											<option value="">Selecciona una pregunta</option>
										</select>
										<div class="tooltip-input">
											<div class="arrow"></div>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
										</div>
										<input type="text" class="form-control" placeholder="Escribe la resupuesta" ng-model="dataRegister.response1">
										<div class="tooltip-input">
											<div class="arrow"></div>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4 col-md-offset-1">
										<p>*Pregunta 2</p>
									</div>
									<div class="col-md-5">
										<select class="form-control" ng-model="dataRegister.question2" ng-options="question.description for question in data.data.questions">
											<option value="">Selecciona una pregunta</option>
										</select>
										<div class="tooltip-input">
											<div class="arrow"></div>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
										</div>
										<input type="text" class="form-control" placeholder="Escribe la resupuesta" ng-model="dataRegister.response2">
										<div class="tooltip-input">
											<div class="arrow"></div>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
										</div>
									</div>
								</div>

							<div class="row">
								<div class="col-md-8 col-md-offset-1">
									<label class="checkbox">
										<input type="checkbox" ng-model="dataRegister.new_condition_action">
										Acepto <a href="javascript:void(0);">T&eacute;rminos y Condiciones de Uso</a>, Fundaci&oacute;n Dond&eacute; Banco
									</label>
								</div>
							</div>
							<div class="divider"></div>

							<div class="row">
								<div class="col-md-5 col-md-offset-5">
									<button class="btn btn-success form-control" ng-click="signup();">Acceder a cuentas</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			<div class="panel-footer">*Campos necesarios</div>
		</div>
	<div class="signup_footer">
		<div class="container">
			<div class="row">
				<p class="col-md-6">&copy; 2015 Fundaci&oacute;n Dond&eacute; Bacno</p>
				<p class="col-md-6 text-right">
					<a href="javascript:void(0);">T&eacute;rminos y Condiciones de Uso</a> |
					<a href="javascript:void(0);">Seguridad</a>
				</p>
			</div>
		</div>
	</div>
</div>
