<div class="well">
			<div class="row">
				<div class="col-md-3"><span class="pull-right">{{"add-beneficiary-confirm.CuentaBeneficiario" | translate}}</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{beneficiaryAccount}}"></div>
				<div class="col-md-3"><span class="pull-right">{{"add-beneficiary-confirm.AliasCuenta" | translate}}</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{alias}}"></div>
			</div>

			<div class="row">
				<div class="col-md-3"><span class="pull-right">{{"investment-detail.Nombre" | translate}}</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{mainName}}"></div>
				<div class="col-md-3"><span class="pull-right">{{"addmoduser.CorreoElectronico" | translate}}</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{eMail}}"></div>
			</div>

			<div class="row">
				<div class="col-md-3"><span class="pull-right">{{"addmoduser.ApellidoP" | translate}}</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{lastName}}"></div>
				<div class="col-md-3"><span class="pull-right">{{"add-beneficiary-confirm.LimitePagoDiario" | translate}}</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{dailyLimit}}"></div>
			</div>

			<div class="row">
				<div class="col-md-3"><span class="pull-right">{{"addmoduser.ApellidoM" | translate}}</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{secondLastName}}"></div>
				<div class="col-md-3"><span class="pull-right">{{"add-beneficiary-confirm.LimitePagoMensual" | translate}}</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{monthlyLimit}}"></div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-3 pull-right">
				<a href="/#/transfer/AddBeneficiaryInternationalPhysicalConfirm" class="btn btn-large button_mfm">
					<span class="glyphicon glyphicon-ok"> {{"add-beneficiary-moral-int.Agregar" | translate}}</span>
				</a>
			</div>
		</div>
