<div>
	<div class="content_table">
		<div class="row">

				<div class="col-md-1">
				<a type="button" href="/#/transfer/AddBeneficiaryInternational" class="btn btn-large button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
				</div>
				<span style="color:white;font-size:x-large">{{"add-beneficiary-physical.AltaIntPersona" | translate}}</span>
		</div>
		<br>
		<div class="well">
			<div class="row">
				<div class="col-md-3">{{"add-beneficiary-confirm.AliasCuenta" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="alias" size="20"/></div>
				<div class="col-md-3">{{"add-beneficiary-confirm.LimitePagoDiario" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="dailyLimit" size="20"/></div>
			</div>

			<div class="row">
				<div class="col-md-3">{{"addmoduser.CorreoElectronico" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="eMail" size="20"/></div>
				<div class="col-md-3">{{"add-beneficiary-confirm.LimitePagoMensual" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="monthlyLimit" size="20"/></div>
			</div>
			<hr>

			<div class="row">
				<div class="col-md-3">{{"add-beneficiary-confirm.CuentaBeneficiario" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="beneficiaryAccount" size="20"/></div>
				<div class="col-md-3">{{"add-beneficiary-physical.Codigo" | translate}} SWIFT</div>
				<div class="col-md-3"><input type="text"  ng-model="option" size="20"/></div>
			</div>

			<div class="row">
				<div class="col-md-3">{{"investment-detail.Nombre" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="mainName" size="20"/></div>
				<div class="col-md-3">{{"add-beneficiary-confirm.BancoBeneficiario" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="beneficiaryBank" size="20"/></div>
			</div>

			<div class="row">
				<div class="col-md-3">{{"addmoduser.ApellidoP" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="lastName" size="20"/></div>
				<div class="col-md-3">{{"add-beneficiary-moral-int.DireccionBanco" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="bankAddress" size="20"/></div>
			</div>

			<div class="row">
				<div class="col-md-3">{{"addmoduser.ApellidoM" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="secondLastName" size="20"/></div>
				<div class="col-md-3">{{"add-beneficiary-moral-int.CiudadBanco" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="bankCity" size="20"/></div>
			</div>

			<div class="row">
				<div class="col-md-3">{{"add-beneficiary-moral-int.DireccionBenefi" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="address" size="20"/></div>
				<div class="col-md-3">{{"add-beneficiary-moral-int.PaisBanco" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="bankCountry" size="20"/></div>
			</div>

			<div class="row">
				<div class="col-md-3">{{"add-beneficiary-moral-int.CiudadBenefi" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="city" size="20"/></div>
				<div class="col-md-3">{{"add-beneficiary-moral-int.DivisaCuenta" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="coin" size="20"/></div>
			</div>

			<div class="row">
				<div class="col-md-3">{{"add-beneficiary-moral-int.PaisBenefi" | translate}}</div>
				<div class="col-md-3"><input type="text"  ng-model="country" size="20"/></div>
			</div>

			<hr>

			<div class="row">
				<div ng-switch on="x">
				<div ng-switch-when="true">
				<div class="col-md-2">{{"credit-detail-agreement.Autoriza" | translate}}</div>
				<div class="col-md-4">
					<select name="" id="">
						<option value="">{{"authorize_changes.NombreAutorizada" | translate}}</option>
					</select>
				</div>
				<div class="col-md-3">{{"authorize_changes.Medio" | translate}}</div>
				<div class="col-md-3">
					<select name="" id="">
						<option value="">+55 56581111</option>
					</select>
				</div>
			</div><!-- end true-->

			<div class="ng-switch-default">

			</div><!-- end false-->
			</div><!-- end switch-->
		</div>
		</div>

		<div class="row">
    		<div ng-switch on="x">
					<div ng-switch-when="true">
						<div class="col-md-3 pull-right">
							<a type="button" href="" class="btn btn-large button_mfm" ng-click="switch()"><span class="glyphicon glyphicon-ok"></span> {{"credit-detail-agreement.Autorizar" | translate}}</a>
						</div>
					</div>
      				<div ng-switch-default>
      				</div>
			</div>
		</div>
	</div>
</div>
