<div class="content_table">
	<span>&nbsp;Cuenta No Agregada</span>
	<hr>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                Alias
            </div>
            <div class="col-md-2">
                <input type="text" value="{{data.alias}}"></input>
            </div>
            <div class="col-md-2">
                CLABE/SPEI
            </div>
            <div class="col-md-2">
                <input type="text" value="{{data.CLABE}}"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Nombre del Beneficiario
            </div>
            <div class="col-md-2">
                <input type="text" value="{{data.firstName}}"></input>
            </div>
            <div class="col-md-2">
                Banco
            </div>
            <div class="col-md-2">
                <input type="text" value="{{data.bank}}"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Apellidos del Beneficiario
            </div>
            <div class="col-md-2">
                <input type="text" value="{{data.lastName}}"></input>
            </div>
        </div>
    </div>
</div>
<div class="content_table">
    <div class="row">
        <div class="col-md-3">
            Correo Electr&oacute;nico
        </div>
        <div class="col-md-4">
            <input type="text" value="{{data.email}}"></input>
        </div>
        <div class="col-md-4 pull-right">
            <button type="button" class="btn btn-default btn-md pulla-right">
                <span class="glyphicon glyphicon-arrow-right"></span> Enviar Aviso
            </button>
        </div>
    </div>
</div>
