<div>
	<div class="content_table">
		<div class="row">
    		
      			<div class="col-md-1">
        			<a type="button" href="/#/transfer/interbankTransfer" class="btn btn-large button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
      			</div>
     		 <span style="color:#FFFFFF;"><font size="5">Alta Interbancaria</font></span>
    		
    <br></br>
			
		<div class="row well">
			<div class="col-md-3">Seleccionar</div>
			<div class="col-md-3">
				<select ng-model="tipo">
					<option value="fisica">Persona F&iacute;sica</option>
					<option value="moral">Persona Moral</option>
				</select>
			</div>
		</div>
		<div ui-view></div>
	</div>
</div>
</div>
