<div class="well">
			<div class="row">
				<div class="col-md-3"><span class="pull-right">Cuenta del Beneficiario</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{beneficiaryAccount}}"></div>
				<div class="col-md-3"><span class="pull-right">Alias de la Cuenta</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{alias}}"></div>
			</div>

			<div class="row">
				<div class="col-md-3"><span class="pull-right">Nombre</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{mainName}}"></div>
				<div class="col-md-3"><span class="pull-right">Correo Electr&oacute;nico</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{eMail}}"></div>
			</div>

			<div class="row">
				<div class="col-md-3"><span class="pull-right">Apellido Paterno</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{lastName}}"></div>
				<div class="col-md-3"><span class="pull-right">L&iacute;mite de Pago Diario</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{dailyLimit}}"></div>
			</div>

			<div class="row">
				<div class="col-md-3"><span class="pull-right">Apellido Materno</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{secondLastName}}"></div>
				<div class="col-md-3"><span class="pull-right">L&iacute;mite de Pago Mensual</span></div>
				<div class="col-md-3"><input type="text" size="20" value="{{monthlyLimit}}"></div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-3 pull-right">
				<a href="/#/transfer/AddBeneficiaryInternationalPhysicalConfirm" class="btn btn-large button_mfm">
					<span class="glyphicon glyphicon-ok"> Agregar</span>
				</a>				
			</div>
		</div>