<div>
	<div class="content_table">
		<div class="row">

      			<div class="col-md-1">
        			<a type="button" href="/#/transfer/interbankTransfer" class="btn btn-large button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
      			</div>
     		 <span style="color:#FFFFFF;"><font size="5">{{"add-beneficiary.AltaInterbancaria" | translate}}</font></span>

    <br></br>

		<div class="row well">
			<div class="col-md-3">{{"add-beneficiary.Seleccionar" | translate}}</div>
			<div class="col-md-3">
				<select ng-model="tipo">
					<option value="fisica">{{"add-beneficiary.PersonaFisica" | translate}}</option>
					<option value="moral">{{"add-beneficiary.PersonaMoral" | translate}}</option>
				</select>
			</div>
		</div>
		<div ui-view></div>
	</div>
</div>
</div>
