<div class="col-md-9">
  	<div class="row">
    	>
      		<div class="col-md-1">
       			 <a type="button" href="/#/transfer/internationalTransfer" class="btn btn-large button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
      		</div>
      		<span style="color:#FFFFFF;"><font size="5">Pago Internacional</font></span>
    	
    	<br></br>
    <div class="col-md-12">
    	<div class="well">
    		<div class="row">
				<div class="col-md-3">
					<span class="pull-right">Cuenta de Retiro</span>
				</div>
			<div class="col-md-3">
				<input value="{{depositAccount}}" disabled></input>
			</div>
			<div class="col-md-3">
				<span class="pull-right">Cuenta de Dep&oacute;sito</span>
			</div>
			<div class="col-md-3">
				<input disabled></input>
			</div>
		</div><!--end row-->

    		<div class="row">
				<div class="col-md-3">
					<span class="pull-right">Alias</span>
				</div>
				<div class="col-md-3">
					<input value="{{alias}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">Alias</span>
				</div>
				<div class="col-md-3">
					<input value="{{alias}}" disabled></input>
				</div>
			</div><!--end row-->
			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">Titular</span>
				</div>
				<div class="col-md-3">
					<input value="{{mainName}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">Divisa</span>
				</div>
				<div class="col-md-3">
					<input value="{{coin}}" disabled></input>
				</div>
			</div><!--end row-->

			<hr>

			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">C&oacute;digo</span>
				</div>
				<div class="col-md-3">
					<input value="{{codes}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">Titular Beneficiario</span>
				</div>
				<div class="col-md-3">
					<input value="{{recipientName}}" disabled></input>
				</div>
			</div><!--end row-->

			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">Banco</span>
				</div>
				<div class="col-md-3">
					<input value="{{bank}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">Direcci&oacute;n</span>
				</div>
				<div class="col-md-3">
					<input value="{{recipientAddress}}" disabled></input>
				</div>
			</div><!--end row-->

			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">Direcci&oacute;n</span>
				</div>
				<div class="col-md-3">
					<input value="{{address}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">Ciudad</span>
				</div>
				<div class="col-md-3">
					<input value="{{recipientCity}}" disabled></input>
				</div>
			</div><!--end row-->

			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">Pa&iacute;s</span>
				</div>
				<div class="col-md-3">
					<input value="{{country}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">Pa&iacute;s</span>
				</div>
				<div class="col-md-3">
					<input value="{{recipientCountry}}" disabled></input>
				</div>
			</div><!--end row-->

			<br></br>

			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">Importe</span>
				</div>
				<div class="col-md-3">
					<input value="{{amount}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">Fecha de Aplicaci&oacute;n</span>
				</div>
				<div class="col-md-3">
					<input value="{{date}}" disabled></input>
				</div>
			</div><!--end row-->

			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">Divisa</span>
				</div>
				<div class="col-md-3">
					<input value="{{coin}}" disabled></input>
				</div>
			</div><!--end row-->

			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">Concepto de Pago</span>
				</div>
				<div class="col-md-3">
					<input value="{{paymentConcept}}" disabled size="90"></input>
				</div>
			</div><!--end row-->

			<hr>

			<div class="row">
				<div ng-switch on="x">
					<div ng-switch-when="true">
						<div ng-include="'/views/partials/transfers/partial-transfer.html'"></div>
					</div>
      				<div ng-switch-default></div>
				</div>

			</div>

    	</div><!--end well-->
    	<div class="row">
    		<div ng-switch on="x">
					<div ng-switch-when="true">
						<div class="col-md-3 pull-right">
							<a type="button" href="" class="btn btn-large button_mfm" ng-click="switch()">Autorizar</a>
						</div>
					</div>
      				<div ng-switch-default>
						<div class="col-md-3 pull-right">
							<a type="button" href="" class="btn btn-large button_mfm" ng-click="switch()">Imprimir</a>
						</div>
      				</div>
			</div>
		</div>
	</div><!-- end col-md-12-->
	</div><!-- end row-->
</div><!-- end col-md-9-->
