<div class="col-md-9">
  	<div class="row">

      		<div class="col-md-1">
       			 <a type="button" href="/#/transfer/interbankTransfer" class="btn btn-large button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
      		</div>
      		<span style="color:#FFFFFF;"><font size="5">{{"interBank.PagoInterbancario" | translate}}</font></span>

    	<br></br>
    <div class="col-md-12">
    	<div class="well">
    		<div class="row">
				<div class="col-md-3">
					<span class="pull-right">{{"interBank.CuentaRetiro" | translate}}</span>
				</div>
			<div class="col-md-3">
				<input value="{{depositAccount}}" disabled></input>
			</div>
			<div class="col-md-3">
				<span class="pull-right">{{"interBank.CuentaDeposito" | translate}}</span>
			</div>
			<div class="col-md-3">
				<input disabled></input>
			</div>
		</div><!--end row-->

    		<div class="row">
				<div class="col-md-3">
					<span class="pull-right">{{"customize.Alias" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{alias}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">{{"customize.Alias" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{alias}}" disabled></input>
				</div>
			</div><!--end row-->
			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">{{"credit.Divisa" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{coin}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">{{"credit.Divisa" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{coin}}" disabled></input>
				</div>
			</div><!--end row-->

			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">{{"interbank-confirm.Titular" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{mainName}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">{{"add-beneficiary-moral.TitularBene" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{recipientName}}" disabled></input>
				</div>
			</div><!--end row-->

			<hr>



			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">{{"saving.transactions.Importe" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{amount}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">{{"investment-detail.BancoDestino" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{destinationBank}}" disabled></input>
				</div>
			</div><!--end row-->

			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">{{"interbank-confirm.FechaCreacion" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{date}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">{{"interBank.ConceptoPago" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{paymentConcept}}" disabled></input>
				</div>
			</div><!--end row-->

			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">{{"interBank.FechaAplicacion" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{applianceDate}}" disabled></input>
				</div>
				<div class="col-md-3">
					<span class="pull-right">{{"interBank.ReferenciaNumerica" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{numericReference}}" disabled></input>
				</div>
			</div><!--end row-->
			<div class="row">
				<div class="col-md-3">
					<span class="pull-right">{{"interBank.TipoTransferencia" | translate}}</span>
				</div>
				<div class="col-md-3">
					<input value="{{transferType}}" disabled></input>
				</div>
			</div><!-- end row-->

			<hr>

			<div class="row">
				<div ng-switch on="x">
					<div ng-switch-when="true">
						<div ng-include="'/views/partials/transfers/partial-transfer.html'"></div>
					</div>
      				<div ng-switch-default>
      					<div class="row">

      						<div class="col-md-6"></div>
							<div class="col-md-3">
								<span class="pull-right">{{"biometric-detail.EnviarA" | translate}}</span>
							</div>
						<div class="col-md-3">
							<select>
								<option>amigo@mail.com</option>
							</select>
						</div>
					</div><!-- end row-->
					</div>
				</div>
			</div>

    	</div><!--end well-->
    	<div class="row">
    		<div ng-switch on="x">
					<div ng-switch-when="true">
						<div class="col-md-3 pull-right">
							<a type="button" href="" class="btn btn-large button_mfm" ng-click="switch()"><span class="glyphicon glyphicon-ok"></span> {{"credit-detail-agreement.Autorizar" | translate}}</a>
						</div>
					</div>
      				<div ng-switch-default>
						<div class="col-md-3 pull-right">
							<a type="button" href="" class="btn btn-large button_mfm" ng-click="switch()"><span class="glyphicon glyphicon-print"></span> {{"biometric-detail.Imprimir" | translate}}</a>
						</div>
      				</div>
			</div>
		</div>
	</div><!-- end col-md-12-->
	</div><!-- end row-->
</div><!-- end col-md-9-->
