<div class="col-md-9  row-fluid">
   <div class="row" id="bigCallout">   
    
        <div class="col-md-1">            
            <a type="button" href="/#/transfer/same-bank-transfer" class="btn btn-large button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
        </div>
            <span style="color:#FFFFFF;"><font size="5">Alta Mismo Banco</font></span>
    
    <br></br>
    <div class="col-md-12">
        <div class="well">           
             <div class="row">
                <div class="row">
                     
                     <div class="col-md-6">                        

                        <div class="col-md-6">Cuenta del Beneficiario </div> <div><input disabled="disabled" value="{{beneficiary.accountBeneficiary}}"  type="text"/></div>
                        <div class="col-md-6">L&iacute;mite de Pago Diario </div> <div><input disabled="disabled" value="{{beneficiary.dayLimitPay | currency: beneficiary.currencySymbol}}"  type="text"/></div>
                        <div class="col-md-6">L&iacute;mite de Pago Mensual </div> <div><input disabled="disabled" value="{{beneficiary.dayLimitMonthly}}"  type="text"/></div>

                     </div>               
                     <div class="col-md-6">
                        <div class="col-md-6">Alias de Cuenta</div> <div> <input disabled="disabled"   value="{{beneficiary.alias}}"  type="text"/></div>
                        <div class="col-md-6">Correo Electr&oacute;nico</div><div> <input disabled="disabled" value="{{beneficiary.mail}}" type="text"/></div>

                     </div>
                </div><!--End row middle -->

            </div><!-- End row main -->
        </div><!--End well-->
        <div class="cold-md-12">
        	<a type="button" href="/#/transfer/sameConfirmBeneficiary" class="btn btn-large button_mfm  pull-right"> <span class="glyphicon glyphicon-ok"></span> Agregar </a>	
        </div>
    </div><!--End md-12-->
   </div><!--End bigCallout-->
</div><!--End div main-->
