
<div class="col-md-9" data-ng-init="load_conection()">
	<div class="page_conection">
		<div class="title-page">
	        <span class="btn_back"></span>
	        {{"users-and-privileges.Transferencias" | translate}}
	    </div>
		<a href="/#/transfer/same-bank-transfer" class="button_mfm conexion_btn desactivo">
			<span class="text"><i class=""></i>{{"buttons.MismoBanco" | translate}}</span>
		</a>
		<a href="#/:transfer/interbankTransfer" class="button_mfm conexion_btn desactivo">
			<span class="text"><i class=""></i>{{"buttons.Interbancarias" | translate}}</span>
		</a>
		<a href="/#/transfer/internationalTransfer" class="button_mfm conexion_btn desactivo">
			<span class="text"><i class=""></i>{{"buttons.Internacionales" | translate}}</span>
		</a>
	</div>
</div>
