
<div class="col-md-9" data-ng-init="load_conection()">
	<div class="page_conection">
		<div class="title-page">
	        <span class="btn_back"></span>
	        Transferencias
	    </div>
		<a href="/#/transfer/same-bank-transfer" class="button_mfm conexion_btn desactivo">
			<span class="text"><i class=""></i>Mismo Banco</span>
		</a>
		<a href="#/:transfer/interbankTransfer" class="button_mfm conexion_btn desactivo">
			<span class="text"><i class=""></i>Interbancarias</span>
		</a>
		<a href="/#/transfer/internationalTransfer" class="button_mfm conexion_btn desactivo">
			<span class="text"><i class=""></i>Internacionales</span>
		</a>
	</div>
</div>
