<h1 class="title-account">
  <span>{{"detail.DetalleCuenta" | translate}}</span> {{"title.account_name.TarjetaCredito" | translate}} {{selectedAccount.account_number}}
</h1>
<div class="row detalles">
  <div class="col-md-3 content-logo">
    <div class="logo logo-alcancia"></div>
  </div>
  <div class="col-md-9">
    <div class="saldos-cuenta">
      <span class="text">{{"detail.CreditoDisponible" | translate}}:</span>
      <span class="amount">{{detail.available_credit | currency}}</span>
    </div>
    <div class="saldos-cuenta">
      <span class="text">{{"detail.SaldoTotal" | translate}}:</span>
      <span class="amount">{{detail.balance | currency}}</span>
    </div>
  </div>
</div>
<div class="row tablas-detalle">
  <div class="col-md-6">
    <table>
      <tbody>
        <tr>
          <td>{{"detail.Estatus" | translate}}:</td>
          <td>{{detail.state}}</td>
        </tr>
        <tr>
          <td>{{"DiaCorte" | translate}}:</td>
          <td>{{detail.cut_date | date:'longDate'}}</td>
        </tr>
        <tr>
          <td>{{"detail.FechaUltimoPago" | translate}}:</td>
          <td>{{detail.last_payment_date | date:'longDate'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table>
      <tbody>
        <tr>
          <td>{{"detail.LimiteCredito" | translate}}:</td>
          <td>{{detail.limit | currency}}</td>
        </tr>
        <tr>
          <td>{{"detail.SaldoUltimoPeriodo" | translate}}:</td>
          <td>{{detail.last_period_balance | currency}}</td>
        </tr>
        <tr>
          <td>{{"detail.PagoDeposito" | translate}}:</td>
          <td>{{detail.payments | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
