<div class="row">
  <div class="col-md-12">
    <input ng-model="search" type="text" class="form-control input-search" placeholder="&Uacute;ltimos movimientos">
  </div>
</div>
<div class="row filtro">
  <div class="col-md-5">
    <p class="label">Por fecha:</p>
    <div class="input-group">
      <input type="text" class="date date-from" ng-model="searchParams.startDate" ng-change="searchTransactions()" fddatepicker placeholder="00/00/0000">
      <input type="text" class="date date-to" ng-model="searchParams.endDate" ng-change="searchTransactions()" fddatepicker placeholder="00/00/0000">
    </div>
  </div>
  <div class="col-md-5">
    Por monto:
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Desde</button>
      <button type="button" class="btn btn-default">Hasta</button>
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-success">Descargar</button>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Fecha</td>
        <td>Descripci&oacute;n</td>
        <td>Pagos&sol;Dep&oacute;sitos</td>
        <td>Compras</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="transaction in transactions | filter:search">
        <td>{{transaction.date | date: 'dd/MM/yyyy'}}</td>
        <td>{{transaction.description}}</td>
        <td>{{transaction.amount | currency}}</td>
        <td>{{transaction.purchases | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>
