
<div class="col-md-9">
    <div class="content_table">
        <h4 class="abierto" ng-click="show_hide_table('.tabla_biometric',this)">Cuentas Biom&eacute;tricas</h4>
        <div class="table-responsive tabla_biometric">
            <table class="table">
                <tbody>
                    <tr ng-repeat="biometricAccount in biometricAccounts.accounts">
                        <td><a href="javascript:void(0);">{{biometricAccount.alias}}</a></td>
                        <td><a href="javascript:void(0);">{{biometricAccount._account_id}}</a></td>
                        <td><a href="javascript:void(0);">{{biometricAccount.balance.current | currency}}</a></td>
                        <td><a href="javascript:void(0);">{{biometricAccount.currency}}</a></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <td>ALIAS</td>
                        <td>No. CUENTA</td>
                        <td>SALDO</td>
                        <td>DIVISAS</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="content_table">
        <h4 class="abierto" ng-click="show_hide_table('.tabla_credito',this)">L&iacute;neas de Cr&eacute;dito</h4>
        <div class="table-responsive tabla_credito">
            <table class="table">
                <tbody>
                    <tr ng-repeat="creditaccount in creditAccounts.accounts">
                        <td><a href="javascript:void(0);">{{creditaccount.alias}}</a></td>
                        <td><a href="javascript:void(0);">{{creditaccount._account_id}}</a></td>
                        <td><a href="javascript:void(0);">{{creditaccount.balance.current | currency}}</a></td>
                        <td><a href="javascript:void(0);">{{creditaccount.currency}}</a></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <td>ALIAS</td>
                        <td>No. CUENTA</td>
                        <td>SALDO</td>
                        <td>DIVISAS</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="content_table">
        <h4 class="abierto" ng-click="show_hide_table('.tabla_inversiones',this)">Inversiones</h4>
        <div class="table-responsive tabla_inversiones">
            <table class="table">
                <tbody>
                    <tr ng-repeat="investmentAccount in investmentAccounts.accounts">
                        <td><a href="javascript:void(0);">{{investmentAccount.alias}}</a></td>
                        <td><a href="javascript:void(0);">{{investmentAccount._account_id}}</a></td>
                        <td><a href="javascript:void(0);">{{investmentAccount.balance.current | currency}}</a></td>
                        <td><a href="javascript:void(0);">{{investmentAccount.currency}}</a></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <td>ALIAS</td>
                        <td>No. CUENTA</td>
                        <td>SALDO</td>
                        <td>DIVISAS</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <p class="titulo">Notificaicones</p>
    <div class="row-fluid">
        <div class="col-md-4 notificaciones">
            <div class="head"><p>Pr&oacute;ximos vencimientos</p></div>
            <ul>
                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
            </ul>
        </div>
        <div class="col-md-4 notificaciones">
            <div class="head"><p>Autorizaciones pendientes</p></div>
            <ul>
                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
            </ul>
        </div>
        <div class="col-md-4 notificaciones">
            <div class="head"><p>Movimientos pendientes</p></div>
            <ul>
                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
            </ul>
        </div>
    </div>
</div>
