<div class="col-md-9" data-ng-init="load_accounts()">
    <div class="page_accounts">
        <div class="title-page">
            <span class="btn_back"></span>
            Resumen de Cuentas
        </div>
        <div class="content_white">
            <div class="content_table abierto">
                <h4 class="abierto titulo_biometric" ng-click="show_hide_table('.tabla_biometric','.titulo_biometric')">
                    Cuentas Biom&eacute;tricas
                    <i><span></span></i>
                </h4>
                <div class="table-responsive tabla_biometric">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="biometricAccount in biometricAccounts.accounts" ng-click="biometrics(biometricAccount._account_id)">
                                <td>{{biometricAccount.alias}}</td>
                                <td>{{biometricAccount._account_id}}</td>
                                <td>{{biometricAccount.balance.current | currency}}</td>
                                <td>{{biometricAccount.currency}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <td>Alias</td>
                                <td>No. Cuenta</td>
                                <td>Saldo</td>
                                <td>Divisas</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="content_table abierto">
                <h4 class="abierto titulo_lineasCred" ng-click="show_hide_table('.tabla_credito','.titulo_lineasCred')">
                    L&iacute;neas de Cr&eacute;dito
                    <i><span></span></i>
                </h4>
                <div class="table-responsive tabla_credito">
                    <table class="table">
                        <tbody>

                            <tr ng-repeat="creditaccount in creditAccounts.accounts" ng-click="creditTransaction(detailCreditAccount._account_id)">
                                <td>{{creditaccount.alias}}</td>
                                <td>{{creditaccount._account_id}}</td>
                                <td>{{creditaccount.balance.current | currency}}</td>
                                <td>{{creditaccount.currency}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <td>No. Cuenta</td>
                                <td>Monto Autorizado</td>
                                <td>Divisa</td>
                                <td>Monto Dispuesto</td>
                                <td>Monto Disponible</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="content_table abierto">
                <h4 class="abierto titulo_inversiones" ng-click="show_hide_table('.tabla_inversiones','.titulo_inversiones')">
                    Inversiones
                    <i><span></span></i>
                </h4>
                <div class="table-responsive tabla_inversiones">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="investmentAccount in investmentAccounts.accounts" ng-click="investment(investmentAccount._account_id)">
                                <td>{{investmentAccount.alias}}</td>
                                <td>{{investmentAccount._account_id}}</td>
                                <td>{{investmentAccount.balance.current | currency}}</td>
                                <td>{{investmentAccount.currency}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <td>Alias</td>
                                <td>No. cuenta</td>
                                <td>Saldo</td>
                                <td>Divisas</td>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="notificaciones">
                    <p class="titulo">Notificaciones</p>
                    <div class="barra_gris visible-md visible-lg"></div>
                    <div class="row-fluid">
                        <div class="col-md-4">
                            <div class="head"><p>Pr&oacute;ximos Vencimientos</p></div>
                            <ul>
                                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="head"><p>Autorizaciones Pendientes</p></div>
                            <ul>
                                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="head"><p>Movimientos Pendientes</p></div>
                            <ul>
                                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                                <li><a href="javascript:void(0);">Telmex 18/01/2013 $248.00</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>