<div>
	<div class="content_table">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-1">
					<span type="button" href="/#/transfer" class="btn btn-default btn-large btn-block">&lt;</span>
				</div>
			<span style="color:white;font-size:x-large">Alta Interbancaria</span></div>
		</div>
		<br>
		<div class="row well">
			<div class="col-md-3">Seleccionar</div>
			<div class="col-md-3">
				<select ng-model="tipo">
					<option value="fisica">Persona Física</option>
					<option value="moral">Persona Moral</option>
				</select>
			</div>
		</div>
		<div ui-view></div>
	</div>
</div>
