<div>
	<div class="content_table">
		<div class="row">
			<div class="col-md-12"><span style="color:white">< Alta Interbancaria</span></div>
		</div>
		<div class="row">
			<div class="col-md-3">Seleccionar</div>
			<div class="col-md-3">
				<select name="" id="">
					<option value="">Persona Física</option>
					<option value="">Persona Moral</option>
				</select>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-3">Cuenta del Beneficiario</div>
			<div class="col-md-3"><input type="text"  ng-model="montoEnviar" size="20"/></div>
			<div class="col-md-3">Alias de la Cuenta</div>
			<div class="col-md-3"><input type="text"  ng-model="montoEnviar" size="20"/></div>
		</div>

		<div class="row">
			<div class="col-md-3">Nombre</div>
			<div class="col-md-3"><input type="text"  ng-model="montoEnviar" size="20"/></div>
			<div class="col-md-3">Correo Electrónico</div>
			<div class="col-md-3"><input type="text"  ng-model="montoEnviar" size="20"/></div>
		</div>

		<div class="row">
			<div class="col-md-3">Apellido Paterno</div>
			<div class="col-md-3"><input type="text"  ng-model="montoEnviar" size="20"/></div>
			<div class="col-md-3">Límite de Pago Diario</div>
			<div class="col-md-3"><input type="text"  ng-model="montoEnviar" size="20"/></div>
		</div>

		<div class="row">
			<div class="col-md-3">Apellido Materno</div>
			<div class="col-md-3"><input type="text"  ng-model="montoEnviar" size="20"/></div>
			<div class="col-md-3">Límite de Pago Mensual</div>
			<div class="col-md-3"><input type="text"  ng-model="montoEnviar" size="20"/></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3 pull-right">
				<a ng-click="addBeneficiary();" class="btn">
					<span class="button"><i class="glyphicon glyphicon-ok"></i> Agregar</span>
				</a>				
			</div>
		</div>
	</div>
</div>
