<div class="account_back">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 pull-left">
                    <a class="logo" href="javascript:void(0);"></a>
                </div>
                
                <button class="btn pull-right btn-logout"  ng-click="logout()"><i></i>Salir</button>
                
                <div class="col-md-6 user">
                    <p>Contactar a especialista Financiero: <b>{{client}}</b></p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="subheader">
        <div class="container">
            <span class="pull-right">
                <span class="fecha">14 de abril de 2014</span>
                <span class="hora">15:10 HRS</span>
            </span>          
        </div>
    </div>
    <div class="container content"> 
        <div class="row-fluid">
            <div class="col-md-3">
                <ul class="menu_lateral nav nav-list bs-docs-sidenav affix-top">
                    <li><a href="javascript:void(0)"><i class="ico-saldos"></i>Saldos</a></li>
                    <li class="active"><a href="javascript:void(0)"><i class="ico-conexion"></i>Conex&iacute;on MFM</a></li>
                    <li><a href="javascript:void(0)"><i class="ico-autorizar"></i>Autorizar</a></li>
                    <li><a href="javascript:void(0)"><i class="ico-transferencias"></i>Transferencias</a></li>
                    <li><a href="javascript:void(0)"><i class="ico-administracion"></i>Administraci&oacute;n</a></li>
                </ul>

                <div class="banners visible-md visible-lg">
                    <img class="col-md-12" src="images/banner_01.png" />
                    <img class="col-md-12" src="images/banner_02.png" />
                </div>
            </div>
            <div class="col-md-9">
                <a href="javascript:void(0);" class="conexion_btn">
                    <span class="text"><i class="llama-PC"></i>Llamarme a la PC</span>
                </a>
                <a href="javascript:void(0);" class="conexion_btn">
                    <span class="text"><i class="llama-oficina"></i>Llamarme a la Oficina</span>
                </a>
                <a href="javascript:void(0);" class="conexion_btn">
                    <span class="text"><i class="llama-movil"></i>Llamarme al Movil</span>
                </a>
                <a href="javascript:void(0);" class="conexion_btn">
                    <span class="text2"><i class="llama-tel"></i>Llamarme al tel.</span>
                    <input type="tel" class="form-control input_tel">
                </a>
            </div>
            <div class="banners visible-xs visible-sm">
                <img class="col-md-12" src="images/banner_01.png" />
                <img class="col-md-12" src="images/banner_02.png" />
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    &copy; Copyright 2014 Master Financial Management
                    <a href="javascript:void(0);">Ayuda</a> 
                    <a href="javascript:void(0);">Tour</a> 
                </div>
                <div class="col-md-4">
                    <span class="text-right">
                        Términos, Condiciones de Uso y Privacidad
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>