
<div class="col-md-9" data-ng-init="load_conection()">
	<div class="page_conection">
		<div class="title-page">
	        <span class="btn_back"></span>
	        Contacto MFM
	    </div>
		<a href="javascript:void(0);" class="button_mfm conexion_btn desactivo">
			<span class="text"><i class="llama-PC"></i>Llamarme a la PC</span>
		</a>
		<a href="javascript:void(0);" class="button_mfm conexion_btn desactivo">
			<span class="text"><i class="llama-oficina"></i>Llamarme a la Oficina</span>
		</a>
		<a href="javascript:void(0);" class="button_mfm conexion_btn desactivo">
			<span class="text"><i class="llama-movil"></i>Llamarme al Movil</span>
		</a>
		<a href="javascript:void(0);" class="button_mfm conexion_btn desactivo">
			<span class="text2"><i class="llama-tel"></i>Llamarme al tel.</span>
			<input type="tel" class="form-control input_tel">
		</a>
	</div>
</div>
