
<div class="col-md-9">
	<a href="javascript:void(0);" class="conexion_btn">
		<span class="text"><i class="llama-PC"></i>Llamarme a la PC</span>
	</a>
	<a href="javascript:void(0);" class="conexion_btn">
		<span class="text"><i class="llama-oficina"></i>Llamarme a la Oficina</span>
	</a>
	<a href="javascript:void(0);" class="conexion_btn">
		<span class="text"><i class="llama-movil"></i>Llamarme al Movil</span>
	</a>
	<a href="javascript:void(0);" class="conexion_btn">
		<span class="text2"><i class="llama-tel"></i>Llamarme al tel.</span>
		<input type="tel" class="form-control input_tel">
	</a>
</div>
