<div class="content_table">
	<p>
		Estatus <select><option>todas</option></select> 
		<button type="button" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-time">Historial</span>
		</button>
		Movimientos del 11/05/1980 al 23/06/1978
		<button type="button" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-download-alt">Descargar</span>
		</button>
	</p> 
	<div class="table-responsive">
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div