<div class="products">
    <div class="outter">
        <div ng-include="'views/partials/layout/main-header.html'"></div>
        <main>
            <div class="content">
                <div class="container">
                    <div class="row">



<div class="col-md-4">
	<div class="left-menu">
		<ul class="menu menu-tengo">
			<li class="head" onclick="show_hide_menu('menu-tengo');">
				<span class="arrow"></span>
				<span class="title">LO QUE TENGO</span>
				<span class="amount">{{total.saving + total.investment | currency}}</span>
			</li>
			<li class="parent">
				<span class="text">Mis cuentas de ahorro</span>
				<span class="amount">{{total.saving | currency}}</span>
			</li>
			<li class="child">
				<a ng-repeat="account in accounts.saving">
					<span class="arrow"></span>
					<span class="text">{{account.account_name}} {{account.account_number}}</span>
					<span class="amount">{{account.available_balance | currency}}</span>
				</a>
			</li>
			<li class="parent">
				<span class="text">Mis cuentas de inversi&oacute;n</span>
				<span class="amount">{{total.investment | currency}}</span>
			</li>
			<li class="child active">
				<a ng-repeat="account in accounts.investment">
					<span class="arrow"></span>
					<span class="text">{{account.account_name}} {{account.account_number}}</span>
					<span class="amount">{{account.amount_invested | currency}}</span>
				</a>
			</li>
		</ul>
		<ul class="menu menu-debo">
			<li class="head" onclick="show_hide_menu('menu-debo');">
				<span class="arrow"></span>
				<span class="title">LO QUE DEBO</span>
				<span class="amount">{{total.loan + total.credit | currency}}</span>
			</li>
			<li class="parent">
				<span class="text">Mis cr&eacute;ditos activos</span>
				<span class="amount">{{total.loan | currency}}</span>
			</li>
			<li class="child">
				<a ng-repeat="account in accounts.loan">
					<span class="arrow"></span>
					<span class="text">{{account.account_name}} {{account.account_number}}</span>
					<span class="amount red">{{account.min_payment | currency}}</span>
				</a>
			</li>
			<li class="parent">
				<span class="text">Mis tarjetas de cr&eacute;dito</span>
				<span class="amount">{{accounts.credit | currency}}</span>
			</li>
			<li class="child">
				<a ng-repeat="account in accounts.credit">
					<span class="arrow"></span>
					<span class="text">{{account.account_name}} {{account.account_number}}</span>
					<span class="amount red">{{account.min_payment | currency}}</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="col-md-8">
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<p>
			<strong>MENSAJE IMPORTANTE:</strong><br>
			&iexcl;Enhorabuena! Gracias a que eres un buen cliente, te hemos pre-autorizado un cr&eacute;dito de $5,000. Ac&eacute;rcate a tu sucursal mas cercana o ll&aacute;manos al 01 800 36686.
		</p>
	</div>

	<h1 class="title-green">Notificaciones recientes</h1>
	<div class="box-notifications">
		<div class="row">
			<div class="col-md-3 hidden-xs hidden-sm">
				<div class="cell">
					<div class="logo logo-inversion"></div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 info-account">
				<div class="cell">
					<p>
						<strong>Inversi&oacute;n Dond&eacute; ***2023</strong><br>
						Monto invertido: $ 6,000.00
					</p>
				</div>
			</div>
			<div class="col-md-5 col-xs-6 info-account">
				<div class="cell">
					<p>Rendimientos: <span>$ 56.00</span></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 hidden-xs hidden-sm">
				<div class="cell">
					<div class="logo logo-presta-plus"></div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 info-account">
				<div class="cell">
					<p>
						<strong>Presta Plus ***7867</strong><br>
						Pr&oacute;ximo pago: 18/05/2015
					</p>
				</div>
			</div>
			<div class="col-md-5 col-xs-6 info-account">
				<div class="cell">
					<p>Pago m&iacute;nimo: <button class="btn btn-default">Pagar: <strong>$ 450.00</strong></button></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 hidden-xs hidden-sm">
				<div class="cell">
					<div class="logo logo-credi-donde"></div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 info-account">
				<div class="cell">
					<p>
						<strong>Cr&eacute;dito Dond&eacute; ***1653</strong><br>
						Pr&oacute;ximo pago: 18/05/2015
					</p>
				</div>
			</div>
			<div class="col-md-5 col-xs-6 info-account">
				<div class="cell">
					<p>Pago m&iacute;nimo: <button class="btn btn-default">Pagar: <strong>$ 12,500.00</strong></button></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 hidden-xs hidden-sm">
				<div class="cell">
					<div class="logo logo-alcancia"></div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 info-account">
				<div class="cell">
					<p>
						<strong>Mi Alcanc&iacute;a Dond&eacute; ***2023</strong>
					</p>
				</div>
			</div>
			<div class="col-md-5 col-xs-6 info-account">
				<div class="cell">
					<p>Saldo disponible: <span>$ 12,500.00</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="account-page">
		<h1 class="title-account">
			<span>Detalle de cuenta</span> Mi alcanc&iacute;a Dond&eacute; ***2023
		</h1>
		<div class="row detalles">
			<div class="col-md-3 content-logo">
				<div class="logo logo-alcancia"></div>
			</div>
			<div class="col-md-9">
				<div class="saldos-cuenta">
					<span class="text">Saldo disponible:</span>
					<span class="amount">$ 5,320.00</span>
				</div>
				<div class="saldos-cuenta">
					<span class="text">Beneficios generados:</span>
					<span class="amount">$ 8.50</span>
				</div>
			</div>
		</div>
		<div class="row tablas-detalle">
			<div class="col-md-6">
				<table>
					<tbody>
						<tr>
							<td>Saldo disponible:</td>
							<td>$ 5,320.00</td>
						</tr>
						<tr>
							<td>CLABE:</td>
							<td>002001054185889151</td>
						</tr>
						<tr>
							<td>D&iacute;a de corte:</td>
							<td>16/05/2015</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<table>
					<tbody>
						<tr>
							<td>Fecha &uacute;ltimo movimiento:</td>
							<td>02/04/2015</td>
						</tr>
						<tr>
							<td>Dep&oacute;sitos del d&iacute;a:</td>
							<td>$ 0.00</td>
						</tr>
						<tr>
							<td>Retiros del d&iacute;a:</td>
							<td>$ 0.00</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<input type="text" class="form-control input-search" value="&Uacute;ltimos movimientos">
			</div>
		</div>
		<div class="row filtro">
			<div class="col-md-5">
				Por fecha:
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-success">10/02/2015</button>
					<button type="button" class="btn btn-success">10/02/2015</button>
				</div>
			</div>
			<div class="col-md-5">
				Por monto:
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Desde</button>
					<button type="button" class="btn btn-default">Hasta</button>
				</div>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-success">Descargar</button>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Fecha</td>
						<td>Descripci&oacute;n</td>
						<td>Importe</td>
						<td>Saldo</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>16/05/2015</td>
						<td>Dep&oacute;sito</td>
						<td>$1,500.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>Compra comercial</td>
						<td class="negativo">-$2,250.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>TRASPASO REF 0087500358 AUT.5</td>
						<td>$350.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>Compra</td>
						<td class="negativo">-$2,250.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>Compra Tel</td>
						<td class="negativo">-$350.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>Transferencia Recibida</td>
						<td>$1,500.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>Dep&oacute;sito</td>
						<td>$2,250.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>Compra comercial</td>
						<td class="negativo">-$350.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>Dep&oacute;sito</td>
						<td>$350.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>Pago recibido de BBV BANCOMER por orden<br>de  JUAN PEREZ 1234567 Clave de rastreo  Aut 236</td>
						<td>$350.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>Dep&oacute;sito</td>
						<td>$1,500.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>Compra comercial</td>
						<td class="negativo">-$2,250.00</td>
						<td>$4,500.00</td>
					</tr>
					<tr>
						<td>16/05/2015</td>
						<td>TRASPASO REF 0087500358 AUT.5</td>
						<td>$350.00</td>
						<td>$4,500.00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


					</div>
				</div>
			</div>
		</main>
		<footer ng-include="'views/partials/layout/main-footer.html'"></footer>
	</div>
</div>
