<div class="account_back">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 pull-left">
                    <a class="logo" href="javascript:void(0);"></a>
                </div>
                
                <button class="btn pull-right btn-logout"  ng-click="logout()"><i></i>Salir</button>
                
                <div class="col-md-6 user">
                    <p>Bienvenido <b>{{client}}</b></p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="subheader">
        <div class="container">
            <span class="pull-right">
                <span class="fecha">14 de abril de 2014</span>
                <span class="hora">15:10 HRS</span>
            </span>          
        </div>
    </div>
    <div class="container content"> 
        <div class="row-fluid">
            <div class="col-md-3">
                <ul class="menu_lateral nav nav-list bs-docs-sidenav affix-top">
                    <li ng-class="getClass('/accounts')"> <a ng-href="#accounts"><i class="ico-saldos"></i>Saldos</a></li>
                    <li ng-class="getClass('/connection')"> <a ng-href="#connection"><i class="ico-conexion"></i>Conex&iacute;on MFM</a></li>
                    <li ng-class="getClass('/authorize')"><a ng-href="#authorize"><i class="ico-autorizar"></i>Autorizar</a></li>
                    <li ng-class="getClass('/transfer')"><a ng-href="#transfer"><i class="ico-transferencias"></i>Transferencias</a></li>
                    <li ng-class="getClass('/administration')"><a ng-href="#administration"><i class="ico-administracion"></i>Administraci&oacute;n</a></li>
                </ul>

                <div class="banners visible-md visible-lg">
                    <img class="col-md-12" src="images/banner_01.png" />
                    <img class="col-md-12" src="images/banner_02.png" />
                </div>

                <a class="btn_ayuda_linea" href="javascript:void(0)">
                    <i class="ayuda"></i>
                    Ayuda en l&iacute;nea
                    <i class="arrow"></i>
                </a>
            </div>
            
            <div ui-view autoscroll="false"></div>
        </div>
        <div class="banners visible-xs visible-sm">
            <img class="col-md-12" src="images/banner_01.png" />
            <img class="col-md-12" src="images/banner_02.png" />
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                &copy; Copyright 2014 Master Financial Management
                <a href="javascript:void(0);">Ayuda</a> 
                <a href="javascript:void(0);">Tour</a> 
            </div>
            <div class="col-md-4">
                <span class="text-right">
                    Términos, Condiciones de Uso y Privacidad
                </span>
            </div>
        </div>
    </div>
</div>
</div>
