<div class="col-md-9">

  <div class="row">
    <div class="col-md-6">
              Operacion#{{operacion}}
    </div>

    <div class="col-md-6">
          Pactada
    </div>

   <div class="col-md-6">                  Autoriza:
        <select ng-model="authorized" ng-options="m.name for m in authorized">
                 <option value=""> Name person authorized</option>
        </select>
    </div>

    <div class="col-md-6"><button type="button" class="btn btn-default btn-sm pull-right"> Autorizar </button></div>

    <div class="col-md-7">

    IMG CEL           <input type="text"  ng-model="autorizaMas"  disabled="disabled"   size="10"/>

    </div>
  </div>

    <div class="row"> 
      <div class="row"> 
          <div class="col-md-6">
            <div class="col-md-6"> No operacion  </div> <div class="col-md-6"> <input disabled="disabled" ng-model="noOperacion"  type="text"/></div>
            <div class="col-md-6"> Monto a enviar </div> <div class="col-md-6"><input type="text"  ng-model="montoEnviar"   disabled="disabled"  size="20"/></div>
            <div class="col-md-6">  Monto a cobrar   </div> <div class="col-md-6"><input type="text"  ng-model="montoEnviar"  disabled="disabled"   size="20"/></div>
             <div class="col-md-6"> Fecha de operación  </div> <div class="col-md-6"><input type="text"  ng-model="date"   disabled="disabled"   size="20"/></div> 
          </div>
          <div class="col-md-6">
            <div class="col-md-6">Fecha valor  </div> <div class="col-md-6"><input type="text" ng-model="date"   disabled="disabled"  size="20"/></div>
            <div class="col-md-6">Fecha Vencimiento  </div> <div class="col-md-6"><input type="text" ng-model="date"   disabled="disabled"    size="20"/></div>
            <div class="col-md-6">Plazo  </div> <div class="col-md-6"> <input type="text" ng-model="noOperacion"  disabled="disabled"   size="20"/></div>
            <div class="col-md-6">T.C. Pactado  </div> <div class="col-md-6"> <input type="text" ng-model="tc"    disabled="disabled"    size="20"/></div>
            <div class="col-md-6">Producto      </div> <div class="col-md-6"> <input type="text"    ng-model="producto" disabled="disabled" size="20"/></div>
          </div>          
      </div>
   </div>
     
   <span class="text">Beneficiarios 
      <div>
          <div class="gridStyle" ng-grid="gridOptions"></div>
      </div>
   </span>

</div><!--Main div-->

