<div class="col-md-9">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-1">
        <a type="button" href="/#/transfer" class="btn btn-default btn-large btn-block"><</a>
      </div>
      <span style="color:#FFFFFF;"><font size="5">Pago Internacional</font></span>
    </div>
    <br></br>
<div class="col-md-12">
	<div class="well">
		<div class="row">
			<div class="col-md-6">
				<div class="row">

				</div>
			</div><!--end col-md-6-->
			<div class="col-md-3">
				Búsqueda de Cuenta
			</div>	
			<div class="col-md-3">
				<input></input>
			</div>
		</div><!--end row 1-->
		<div class="row">
			<div class="col-md-3">
				Cuenta de Retiro
			</div>
			<div class="col-md-3">
				<input value="{{depositAccount}}" disabled></input>
			</div>
			<div class="col-md-3">
				Cuenta de Depósito
			</div>
			<div class="col-md-3">
				<select>
					<option>706 58535476</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				Alias
			</div>
			<div class="col-md-3">
				<select name="" id="">
   10  					<option value="">Alias Cuenta</option>
   11  					<option value="">Segundo Alias</option>
   12: 				</select>
			</div>
			<div class="col-md-3">
				Alias
			</div>
			<div class="col-md-3">
				<select name="" id="">
   10  					<option value="">Alias Cuenta</option>
   11  					<option value="">Segundo Alias</option>
   12: 				</select>
			</div>
			</div>
			<div class="row">
			<div class="col-md-3">
				Divisa
			</div>
			<div class="col-md-3">
				<input value="{{coin}}" disabled></input>
			</div>
			<div class="col-md-3">
				Divisa
			</div>
			<div class="col-md-3">
				<input value="{{coin}}" disabled></input>
			</div>
		</div>
		<hr>
			
			<div class="row">
			<div class="col-md-3">
				Importe
			</div>
			<div class="col-md-3">
				<input value="{{amount}}" disabled></input>
			</div>
			<div class="col-md-3">
				Fecha de Aplicación
			</div>
			<div class="col-md-3">
				<input value="{{date}}" disabled></input>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				Concepto de Pago
			</div>
			<div class="col-md-3">
				<input value="{{paymentConcept}}"></input>
			</div>
		</div>
		</div><!-- end second row-->
	</div><!-- end well-->
		<div class="row">
			<div class="col-md-3">
				<a type="button" href="/#/transfer" class="btn btn-default btn-large btn-block">Agregar Beneficiario</a>
			</div>
			<div class="col-md-3 pull-right">
				<a type="button" href="/#/transfer/confirmInternationalTransfer" class="btn btn-default btn-large btn-block">Aceptar</a>
			</div>
		</div>
</div><!-- end col-md-12-->

</div><!-- end row-->
</div><!-- end col-md-9-->