<p class="titulo">Detalle de cuenta</p>

<!-- For table MXN!-->
<div class="col-md-4 notificaciones">
<div class="head">
    <ul>
                <li> Total Global Pesos (MXN) $ {{mxn.global}} </li>
                <li> Capital Total ${{mxn.capTotal}}           </li>                        
  </ul>


       <div class="row">
             <div class="col-md-3"> Interes Generado
                <p>   {{invertions.interesGenerado}}</p> </div>
             <div class="col-md-3">Interes Retirado 
                <p>  {{invertions.interesRetirado}}</p>  </div>
             <div class="col-md-3">Interes Generado No Retirado
                 <p> {{invertions.interesGeneadoNoRetirado}} </p> </div>
             <div class="col-md-3">Interes Por Generar 
                 <p>    {{invertions.InteresPorGenerar}}</p>  </div>
      </div>
</div><!-- end head !-->
</div><!-- end table mxn!-->


<!-- For table UDS!-->
<div class="col-md-4 notificaciones">
<div class="head">
    <ul>
                <li> Total Global Dolares USD ${{mxn.global}} </li>
                <li> Capital Total ${{mxn.capTotal}}    </li>                        
  </ul>

       <div class="row">
           <div class="col-md-3"> Interes Generado
                <p>   {{invertions.interesGenerado}}</p> </div>
           <div class="col-md-3">Interes Retirado 
                <p>  {{invertions.interesRetirado}}</p>  </div>
           <div class="col-md-3">Interes Generado No Retirado
                <p> {{invertions.interesGeneadoNoRetirado}} </p> </div>
           <div class="col-md-3">Interes Por Generar 
                <p>    {{invertions.InteresPorGenerar}}</p>  </div>
      </div>
</div><!-- end head !-->
</div><!-- end table mxn!-->


<!-- Free space !-->
<div class="col-md-9 notificaciones" >
  <div class="titulo">
     <P>DISPONIBLE PARA INVERSIONISTAS  Y/O NOTICIAS </P>
     <p>EJEMPLO: </p>
     <p>NOTICIAS FINANCIEROS, AVISOS DE VENCIMIENTOS DE PAGARES , ARTICULOS INFORMATICOS</p>
  </div>
</div> <!-- end free space-->

