<div class="login_back">
	<div class="login_header"/>



	<div class="row container">
		<div class="col-md-4">
			<form  class="form-signin" ng-controller="LoginCtrl"  ng-submit="login()">
				<div class="login_logo">
					LOGO
				</div>
				<input type="text" class="input-block-level" placeholder="Usuario"  ng-model="username">
				<input type="password" class="input-block-level" placeholder="Contrase&ntilde;a" ng-model="password">
				<a href="javascript: void(0)">Olvid&eacute; mi contrase&ntilde;a</a>
				<div class="row">
					<button class="btn  btn-login" type="submit">Iniciar Sesi&oacute;n</button>
				</div>
			</form>
		</div>
		<div class="col-md-8">
			<div class="text-center">
				<!--BIENVENIDO AL PORTAL MFM-->
			</div>
		</div>
	</div>

	<div class="login_footer">
		<div class="container">
			<div class="row text-center" >
					<a href="javascript:void(0);">Olvid&eacute; mi contrase&ntilde;a |</a>
					<a href="javascript:void(0);">Sobre nosotros |</a>
					<a href="javascript:void(0);">Banca por internet |</a>
					<a href="javascript:void(0);">Banca m&oacute;vil |</a>
					<a href="javascript:void(0);">Privacidad |</a>
					<a href="javascript:void(0);">&copy; Master Financial Management</a>
			</div>
		</div>
	</div>
</div>
