<div class="maps">
	<div class="maps_header">
		<div class="container">
			<div class="row">
				<p class="col-md-6">
					<a href="#">Regresar</a>
				</p>
				<p class="col-md-6 text-right">
					<a href="#/aclarations">Aclaraciones</a> |
					<a href="#/privacy">Aviso de privacidad</a> |
					<a href="javascript:void(0);">Sucursales</a>
				</p>
			</div>
		</div>
	</div>
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Sucursales y M&oacute;dulos de atenci&oacute;n</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="outter">
		<main>
			<div>
				<div ng-class=" showBranches ? 'half' : 'busqueda' ">
					<div class="busqueda-detalle">
						<div class="container">
							<div class="busqueda-content">
								<div class="row busqueda-inputs">
									<div class="col-md-2 btn-cerca">
										<button ng-click="searchNearMe()" class="btn btn-warning">Cerca de m&iacute;</button>
									</div>
									<div class="col-md-9 inputs-buscar">
										<div class="mapinputs">
											<div class="row">
												<div class="col-md-8 campo-input-search">
													<input class="form-control input-search" type="text" id="Autocomplete" ng-autocomplete="result" details="details" options="options" placeholder="Buscar por dirección" size="28"/>
												</div>
												<div class="col-md-4 select-map">
													<select class="form-control" ng-model="estado" ng-options="estado.name for estado in estados"></select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-1 btn-buscar">
										<button class="btn btn-warning" ng-click="search()">Buscar</button>
									</div>
								</div>
								<div class="sucursal-modulo">
									<div ng-click="attention = true" ng-class="attention ? 'selected' : ''"></div>
									<div ng-click="attention = false"ng-class="attention ? '' : 'selected'"></div>
								</div>
								<div ng-show="showBranches">
									<div ng-show="attention">
										<div ng-repeat="branch in map.branches | filter:{description: {category:1}}">
											<div class="resultado">
												<div class="sucursal">
													<span ng-click="selectedBranch(branch)">
														<strong>{{branch.name}}</strong><br>
														{{branch.description.address.street}}
														{{branch.description.address.street2}}
														{{branch.description.address.zipCode}}
														{{branch.description.address.city}}
													</span>
													<span><a ng-click="comoLlegar(branch)"><i></i>¿C&oacute;mo llegar?</a></span>
												</div>
												<div class="telyhorario">
													<span><strong>Tel&eacute;fono: </strong> {{branch.description.phone_number}}</span>
													<span><strong>Horario de Atenci&oacute;n: </strong>LUN-VIE: {{branch.description.openingHours.SEM}} <br>SAB: {{branch.description.openingHours.SAB}} </span>
												</div>
												<div class="otrosdatos">
													<span class="abierto">Abierto S&aacute;bados</span>
													<span class="divisas">Cambio de divisas</span>
													<span class="cita">Atienden con cita</span>
												</div>
											</div>
										</div>
									</div>
									<div ng-hide="attention">
										<div ng-repeat="branch in map.branches | filter:{description: {category:2}}">
											<div class="resultado">
												<div class="sucursal">
													<span ng-click="selectedBranch(branch)">
														<strong>{{branch.name}}</strong><br>
														{{branch.description.address.street}}
														{{branch.description.address.street2}}
														{{branch.description.address.zipCode}}
														{{branch.description.address.city}}
													</span>
													<span><a ng-click="comoLlegar(branch)"><i></i>¿C&oacute;mo llegar?</a></span>
												</div>
												<div class="telyhorario">
													<span><strong>Tel&eacute;fono: </strong> {{branch.description.phone_number}}</span>
													<span><strong>Horario de Atenci&oacute;n: </strong>LUN-VIE: {{branch.description.openingHours.SEM}} <br>SAB: {{branch.description.openingHours.SAB}} </span>
												</div>
												<div class="otrosdatos">
													<span class="abierto">Abierto S&aacute;bados</span>
													<span class="divisas">Cambio de divisas</span>
													<span class="cita">Atienden con cita</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<ui-gmap-google-map center='map.center' zoom='map.zoom' bounds="map.bounds">
						<!-- ui-gmap-markers models="{latitude:19.387569387017383,longitude:-99.19109420950929,id: 583187,title: 'title'}" coords="'self'" fit='false' icon="'icon'" idKey="'id'"></ui-gmap-markers -->
						<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
					</ui-gmap-google-map>
				</div>
				<div class="map-footer hidden-xs hidden-sm">
					<div class="container">
						<div class="col-md-4 phones">
							<p><span>Atenci&oacute;n al cliente:</span> <a href="tel:018008003224">01 800 800 3224</a></p>
							<p><span>&Aacute;rea Metropolitana:</span> <a href="tel:5591777999">(55) 9177 7999</a></p>
							<p><span>Tel&eacute;fono UNE:</span> <a href="tel:018008308632">01 800 830 8632</a></p>
						</div>
						<div class="col-md-4 border">
							<h5>¿Necesitas ayuda?</h5>
							<p><a href="#">¿C&oacute;mo activar tu ubicaci&oacute;n?</a></p>
							<p><a href="#">Preguntas Frecuentes</a></p>
						</div>
						<div class="col-md-4 border">
							<h5>Horarios de Atenci&oacute;n:</h5>
							<p>Sucursales: L-V 9:00 - 16:00</p>
							<p>M&oacute;dulos de Atenci&oacute;n: L-V 9:00 - 16:00</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<footer ng-include="'views/partials/layout/main-footer.html'"></footer>
</div>
