<div class="maps">
	<div class="maps_header">
		<div class="container">
			<div class="row">
				<p class="col-md-6">
					<a href="#">{{"map.Regresar" | translate}}</a>
				</p>
				<p class="col-md-6 text-right">
					<a href="#/aclarations">{{"login.Aclaraciones" | translate}}</a> |
					<a href="#/privacy">{{"login.Aviso de privacidad" | translate}}</a> |
					<a href="javascript:void(0);">{{"login.Sucursales" | translate}}</a>
				</p>
			</div>
		</div>
	</div>
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>{{"map.SucursalesModulos" | translate}}</h1>
				</div>
				<div class="col-md-6" style="background-color: white; padding: 7px;">
					<div ng-translate-language-select></div>
				</div>
			</div>
		</div>
	</div>
	<div class="outter">
		<main>
			<div>
				<div ng-class=" showBranches ? 'half' : 'busqueda' ">
					<div class="busqueda-detalle">
						<div class="container">
							<div class="busqueda-content">
								<div class="row busqueda-inputs">
									<div class="col-md-2 btn-cerca">
										<button ng-click="searchNearMe()" class="btn btn-warning">{{"map.CercaDeMi" | translate}}</button>
									</div>
									<div class="col-md-9 inputs-buscar">
										<div class="mapinputs">
											<div class="row">
												<div class="col-md-8 campo-input-search">
													<input class="form-control input-search" type="text" id="Autocomplete" ng-autocomplete="result" details="details" options="options" placeholder="{{'map.BuscarDireccion' | translate}}" size="28"/>
												</div>
												<div class="col-md-4 select-map">
													<select class="form-control" ng-model="estado" ng-options="estado.name for estado in estados"></select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-1 btn-buscar">
										<button class="btn btn-warning" ng-click="search()">{{"map.Buscar" | translate}}</button>
									</div>
								</div>
								<div class="sucursal-modulo">
									<div ng-click="attention = true" ng-class="attention ? 'selected' : ''"></div>
									<div ng-click="attention = false"ng-class="attention ? '' : 'selected'"></div>
								</div>
								<div ng-show="showBranches">
									<div ng-show="attention">
										<div ng-repeat="branch in map.branches | filter:{description: {category:1}}">
											<div class="resultado">
												<div class="sucursal">
													<span ng-click="selectedBranch(branch)">
														<strong>{{branch.name}}</strong><br>
														{{branch.description.address.street}}
														{{branch.description.address.street2}}
														{{branch.description.address.zipCode}}
														{{branch.description.address.city}}
													</span>
													<span><a ng-click="comoLlegar(branch)"><i></i>{{"map.ComoLlegar" | translate}}</a></span>
												</div>
												<div class="telyhorario">
													<span><strong>{{"map.Telefono" | translate}}: </strong> {{branch.description.phone_number}}</span>
													<span><strong>{{"map.HorarioAtencion" | translate}: </strong>{{"map.LunVie" | translate}}: {{branch.description.openingHours.SEM}} <br>{{"map.Sab" | translate}}: {{branch.description.openingHours.SAB}} </span>
												</div>
												<div class="otrosdatos">
													<span class="abierto">{{"map.AbiertoSab" | translate}}</span>
													<span class="divisas">{{"map.CambioDivisas" | translate}}</span>
													<span class="cita">{{"map.AtiendenCita" | translate}}</span>
												</div>
											</div>
										</div>
									</div>
									<div ng-hide="attention">
										<div ng-repeat="branch in map.branches | filter:{description: {category:2}}">
											<div class="resultado">
												<div class="sucursal">
													<span ng-click="selectedBranch(branch)">
														<strong>{{branch.name}}</strong><br>
														{{branch.description.address.street}}
														{{branch.description.address.street2}}
														{{branch.description.address.zipCode}}
														{{branch.description.address.city}}
													</span>
													<span><a ng-click="comoLlegar(branch)"><i></i>{{"map.ComoLlegar" | translate}}</a></span>
												</div>
												<div class="telyhorario">
													<span><strong>{{"map.Telefono" | translate}}: </strong> {{branch.description.phone_number}}</span>
													<span><strong>{{"map.HorarioAtencion" | translate}}: </strong>{{"map.LunVie" | translate}}: {{branch.description.openingHours.SEM}} <br>{{"map.Sab" | translate}}: {{branch.description.openingHours.SAB}} </span>
												</div>
												<div class="otrosdatos">
													<span class="abierto">{{"map.AbiertoSab" | translate}}</span>
													<span class="divisas">{{"map.CambioDivisas" | translate}}</span>
													<span class="cita">{{"map.AtiendenCita" | translate}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<ui-gmap-google-map center='map.center' zoom='map.zoom' bounds="map.bounds">
						<!-- ui-gmap-markers models="{latitude:19.387569387017383,longitude:-99.19109420950929,id: 583187,title: 'title'}" coords="'self'" fit='false' icon="'icon'" idKey="'id'"></ui-gmap-markers -->
						<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
					</ui-gmap-google-map>
				</div>
				<div class="map-footer hidden-xs hidden-sm">
					<div class="container">
						<div class="col-md-4 phones">
							<p><span>{{"map.AtencionCliente" | translate}}:</span> <a href="tel:018008003224">01 800 800 3224</a></p>
							<p><span>{{"map.AreaMetropolitana" | translate}}:</span> <a href="tel:5591777999">(55) 9177 7999</a></p>
							<p><span>{{"map.TelefonoUne" | translate}}:</span> <a href="tel:018008308632">01 800 830 8632</a></p>
						</div>
						<div class="col-md-4 border">
							<h5>{{"map.NecesitasAyuda" | translate}}</h5>
							<p><a href="#">{{"map.ComoActivarUbicacion" | translate}}</a></p>
							<p><a href="#">{{"map.PreguntasFrecuentes" | translate}}</a></p>
						</div>
						<div class="col-md-4 border">
							<h5>{{"map.HorarioAtencion" | translate}}:</h5>
							<p>{{"map.Sucursales" | translate}}: {{"map.LV" | translate}} 9:00 - 16:00</p>
							<p>{{"map.ModulosAtencion" | translate}}: {{"map.LV" | translate}} 9:00 - 16:00</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<footer ng-include="'views/partials/layout/main-footer.html'"></footer>
</div>
