<div class="content_table">
<h1>Operaciones Pendientes</h1>

	<span>Autoriza</span><select name="" id=""><option value="">Nombre de la Persona Autorizada</option></select>
	<br><br>
	<span type="button" class="btn btn-default btn-md">
		<span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;/ 
		<span class="glyphicon glyphicon-phone"></span>
	</span>	 
	<input type="text" readonly="true" value="
	+52 81 777 0022">
	</input>
	<button type="button" class="btn btn-default btn-lg pull-right">
		<span class="glyphicon glyphicon-ok"></span> Autorizar
	</button>	 
	<div class="table-responsive">
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>	
</div>	