<div class="col-md-9">
	<div class="row" id="bigCallout">
		<div class="col-md-12">
			<div class="well col-8">
				<div class="row">
					<div class="col-md-9">
						<div class="col-md-6">
					
							<a type="boutton" href="" class="btn btn-default btn-large btn-block">Agregar Usuario</a>
						
						</div><!--end col-md-6-->
						<div class="col-md-6">
							<a type="button" href="" class="btn btn-default btn-large btn-block">Modificar Usuario</a>
						</div><!-- end col-md-6-->
					</div><!-- end col-md-9-->
				
				</div><!-- end row-->
				
				<div class="row">
					<div class="col-md-3 pull-right">
						<a type="button" href="" class="btn btn-default btn-large btn-block">Guardar</a>
					</div><!-- end col-md-3-->
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="span2">
						<a type="button" href="" class="btn btn-default btn-large btn-block">Configurar Alertas</a>	
						</div><!-- end span2-->	
					</div>
					<div class="col-md-3">
						<div class="span2">
						<a type="button" href="" class="btn btn-default btn-large btn-block">Cuentas y Permisos</a>	
						</div><!-- end span2-->
					</div>
					<div class="col-md-3">
						<div class="span2">
						<a type="boutton" href="" class="btn btn-default btn-large btn-block">Eliminar</a>	
						</div><!-- end span2-->
					</div>
				</div>
				<br></br>
				<div class="table-responsive">
            		<div class="gridStyle" ng-grid="gridOptions"></div><!--end gridStyle-->
        		</div><!-- end table-responsive-->
			</div><!--end well-->
		</div><!-- end col-12-->
	</div><!--end bicCallout-->
</div><!--end col-md-9-->