
<div class="col-md-9" data-ng-init="load_conection()">
	<div class="page_conection" connection-directive>
		<div class="title-page">
	        <span class="btn_back"></span>
	        Contacto con Especialista Financiero: <span class="nombre">David Torres Fern&aacute;ndez</span>
	    </div>
		<a href="javascript:void(0);" class="button_mfm conexion_btn desactivo" ><div ng-model="algo"></div>
			<span class="text"><i class="oculto llama-PC"></i>Llamarme a la PC</span>
		</a>
		<a href="javascript:void(0);" class="button_mfm conexion_btn desactivo" >
			<span class="text"><i class="oculto llama-oficina"></i>Llamarme a la Oficina</span>
		</a>
		<a href="javascript:void(0);" class="button_mfm conexion_btn desactivo" >
			<span class="text"><i class="oculto llama-movil"></i>Llamarme al M&oacute;vil</span>
		</a>
		<a href="javascript:void(0);" class="button_mfm conexion_btn desactivo"  >
			<span class="text2"><i class="oculto llama-tel"></i>Llamarme al Tel&eacute;fono</span>
			<input type="tel" class="form-control input_tel">
		</a>
	</div>
</div>
