<div class="col-md-9 row-fluid">
	<div class="row title-page">
		<div class="col-md-1">
			<a type="button" href="/#/accounts/biometric/{{account_id}}/transactions"
				class="btn btn-large button_mfm"><span
				class="glyphicon glyphicon-chevron-left"></span></a>
		</div>
		{{"biometric-detail.CuentaBiometricaDetalle" | translate}} {{detailmov}}
	</div>
	<div class="well">
		<div class="">
			<div class="row ">
				<div class="col-md-6">
					<div class ="row">
						<div class="col-md-5">
							<span class="text pull-right">{{"biometric-detail.CuentaRetiro" | translate}}</span>
						</div>
						<div class="col-md-6">
							<input readonly ng-model="detail.accountFrom"/>
						</div>
						<div class="col-md-1">
							<span>MXN</span>
						</div>
					</div>

					<div class ="row">
						<div class="col-md-5">
							<span class="text pull-right">{{"biometric-detail.CuentaDeposito" | translate}}</span>
						</div>
						<div class="col-md-6">
							<input readonly ng-model="detail.accountTo"/>
						</div>
						<div class="col-md-1">
							<span>MXN</span>
						</div>
					</div>

					<div class ="row">
						<div class="col-md-5">
							<span class="text pull-right" >{{"biometric-detail.Beneficiario" | translate}}</span>
						</div>
						<div class="col-md-6">
							<input readonly ng-model="detail.beneficiary"/>
						</div>
					</div>

					<div class ="row">
						<div class="col-md-5">
							<span class="text pull-right">RFC</span>
						</div>
						<div class="col-md-6">
							<input	readonly ng-model="detail.rfc"/>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-5">
							<span class="text pull-right">{{"biometric-detail.Importe" | translate}}</span>
						</div>
						<div class="col-md-5">
							<input readonly ng-model="detail.amount"/>
						</div>
						<div class="col-md-2">
							<span>MXN</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<span class="text pull-right">{{"biometric-detail.Fecha" | translate}}</span>
						</div>
						<div class="col-md-6">
							<input readonly ng-model="detail.date" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<span class="text pull-right">{{"biometric-detail.Referencia" | translate}}</span>
						</div>
						<div class="col-md-6">
							<input readonly ng-model="detail.reference"/>
						</div>
					</div>
					<!-- empty row -->
					<div class="row">
						<div class="col-md-5">
						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
			</div><br />
			<div class="row pull-right" style="">
				<span class="text" >{{"biometric-detail.EnviarA" | translate}}&nbsp;&nbsp;</span>
				<select ngModel="string" name="string" required	ngRequired="string" ngOptions="comprehension_expression">
				<option selected>amigo@mail.com</option>
				<option>{{"biometric-detail.Otro" | translate}}</option>
				</select>
			</div>
			<br />
		</div>
	</div>
	<div class="col-md-12">
		<div  class="col-md-3 pull-left" align="left">
			<button type="button" class="btn btn-default btn-large button_mfm btn-block"> <span class="glyphicon glyphicon-download-alt">{{"biometric-detail.Descargar" | translate}}</span></button>

		</div>
		<div class="col-md-3">

			<button type="button" class="btn btn-default btn-large button_mfm btn-block"> <span class="glyphicon  glyphicon-print">{{"biometric-detail.Imprimir" | translate}}</span></button>

			</div>
		<div class="col-md-3  pull-right" align="right">

    	<button type="button" class="btn btn-default btn-large button_mfm btn-block"> <span class="glyphicon glyphicon-arrow-right">{{"biometric-detail.Enviar" | translate}}</span></button>
  		</div>
  </div>
</div>
