<div class="col-md-9 row-fluid">
	<div class="content_white">
	
		<div class="col-md-6"><br />
		Cuenta de Retiro  &nbsp;<input text="****3659"  value="****3659"/> &nbsp;MXN<br />
		Cuenta de Dep&oacute;sito  &nbsp;<input text="****3659"  value="****3659"/> &nbsp;MXN
		<br />
		Beneficiario  &nbsp;<input  value="Nombre Beneficiario"/>
		<br />
		RFC  &nbsp;<input  value="RFC00000XXX"/>
		<br /><br/>
		<div class="col-md-5">
			<button value="click" text="sadf">(=) Descargar</button>
		</div>
		<div class="col-md-4">
			<button value="click" text="sadf">(=) Imprimir</button>
		</div>
		<div class="col-md-3">
			&nbsp;
		</div>
		</div>

		<div class="col-md-6"><br />
		Importe &nbsp;<input text="****3659"  value="****3659"/>&nbsp;MXN
		<br />
		Fecha  &nbsp;<input  value="DD/MM/YY"/>
		<br />
		Referencia  &nbsp;<input  value="###"/>
			
		<br /><br /><br />
		<div class="col-md-12">Enviar a &nbsp;<select ngModel="string" name="string" required ngRequired="string" ngOptions="comprehension_expression"   >
			<option selected>amigo@mail.com             </option>
			<option >otro</option>
			</select>	<button value="click" text="sadf">--> Enviar</button>
			
			</div>
	</div>
</div>
