<div class="col-md-9">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-1">
				<a type="button" ng-click="back()" class="btn btn-large button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
			</div>
			<span style="color:#FFFFFF;"><font size="5">L&iacute;nea de Cr&eacute;dito - Detalle de la Operaci&oacute;n</font></span>
		</div>
	</div>
		<br>
		<div class="well">
				<div class="row">
					<div class="content_table">
						<div class="col-md-6">
							<h3>&nbsp;Operaci&oacute;n # {{operacion}}</h3>
						</div>
						<div class="col-md-6 " style="background-color:#3ab54a; color:white">
							<h3>Liquidada</h3>
						</div>
					</div>

					<!--div class="col-md-12 row-fluid"-->

					<div class="content_table">
						<div class="col-md-6">
							<div class="col-md-6"> No operaci&oacute;n  </div> <div class="col-md-6"> <input disabled="disabled" ng-model="balance.operation_number"  type="text"/></div>
							<div class="col-md-6"> Monto a enviar </div> <div class="col-md-6"><input type="text"  ng-model="balance.mount_to_send"   disabled="disabled"  size="20"/></div>
							<div class="col-md-6">  Monto a cobrar   </div> <div class="col-md-6"><input type="text"  ng-model="balance.mount_to_cash"  disabled="disabled"   size="20"/></div>
							<div class="col-md-6"> Fecha de operaci&oacute;n  </div> <div class="col-md-6"><input type="text"  ng-model="balance.operation_date"   disabled="disabled"   size="20"/></div>
						</div>
						<div class="col-md-6">
							<div class="col-md-6">Fecha valor  </div> <div class="col-md-6"><input type="text" ng-model="balance.value_date"   disabled="disabled"  size="20"/></div>
							<div class="col-md-6">Fecha Vencimiento  </div> <div class="col-md-6"><input type="text" ng-model="balance.due_date"   disabled="disabled"    size="20"/></div>
							<div class="col-md-6">Plazo  </div> <div class="col-md-6"> <input type="text" ng-model="balance.deadline"  disabled="disabled"   size="20"/></div>
							<div class="col-md-6">T.C. Pactado  </div> <div class="col-md-6"> <input type="text" ng-model="balance.tc"    disabled="disabled"    size="20"/></div>
							<div class="col-md-6">Producto      </div> <div class="col-md-6"> <input type="text"    ng-model="balance.product" disabled="disabled" size="20"/></div>
						</div>

					</div>


<!--<div class="content_table">
				<div>
						<div class="col-md-12" >Beneficiarios</div><br/><br/>
						<div class="col-md-12" style="background-color:gray; color:white;">
								<div class="col-md-4">Nombre del Beneficiario</div>
								<div class="col-md-4">Monto</div>
								<div class="col-md-4">Cuenta</div>
						</div>
						<br /><br />-->
						<div class="gridStyle" ng-grid="gridOptions"></div>
					</div>
			</div>
		
		<div class="col-md-12">
			<div class="col-md-3 pull-left">
				<a class= "btn btn-large button_mfm" ng-click="changeFoo()"><span class="glyphicon glyphicon-download-alt"></span> Descargar</a>
			</div><!-- end col-md-3-->
			<div class="col-md-3">
				<a class="btn btn-large button_mfm" ng-click="changeFoo()"><span class="glyphicon glyphicon-arrow-right"></span> Enviar</a>
			</div><!-- end col-md-3-->
			<div class="col-md-3 pull-right">
				<a class="btn btn-large button_mfm" ng-click="changeFoo()"><span class="glyphicon glyphicon-print"></span>  Imprimir</a>
			</div><!-- end col-md-3-->
		</div><!-- end col-md-12-->
	</div>
