<div class="col-md-9 row-fluid">
	<div class="row">
		<div class="col-md-1">
			<a type="button" href="/#/accounts" class="btn btn-large button_mfm"><span class="glyphicon glyphicon-chevron-left"></span></a>
		</div>
		<span style="color:#FFFFFF;"><font size="5">{{"credit.LineaCredito" | translate}}</font></span>
	</div>
	<br>
	<div class="row" id="bigCallout">
		<div class="col-md-12">
			<div class="well col-8">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6"><span>{{"credit.Divisa" | translate}}</span></div>
						<div class="col-md-6"><input type="text" readonly="true" value="{{credit.currency}}"/></div>
					</div>
					<div class="row">
						<div class="col-md-6"><span>{{"credit.MontoAutorizado" | translate}}</span></div>
						<div class="col-md-6"><input type="text" readonly="true" value="{{credit.authorizeAmount}}"/></div>
					</div>
					<div class="row">
						<div class="col-md-6"><span>{{"credit.MontoDispuesto" | translate}}</span></div>
						<div class="col-md-6"><input type="text" readonly="true" value="{{credit.dispossedAmount}}"/></div>
					</div>
					<div class="row">
						<div class="col-md-6"><span>{{"credit.MontoDisponible" | translate}}</span></div>
						<div class="col-md-6"><input type="text" readonly="true" value="{{credit.undispossedAmount}}"/></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6"><span>{{"credit.DisposicionesAbiertas" | translate}}</span></div>
						<div class="col-md-6"><input type="text" readonly="true" value="{{credit.openDispositions}}"/></div>
					</div>
					<div class="row">
						<div class="col-md-6"><span>{{"credit.FechaExpiracion" | translate}}</span></div>
						<div class="col-md-6"><input type="text" readonly="true" value="{{credit.dueDate}}"/></div>
					</div>
					<div class="row">
						<div class="col-md-6"><span>{{"credit.DisposicionesAtrasadas" | translate}}</span></div>
						<div class="col-md-6"><input type="text" readonly="true" value="{{credit.lateDispositions}}"/></div>
					</div>
				</div>
			</div>
				<ul class="nav nav-tabs">
					<li id="transaction" class="active col-md-4"><a href="#" ng-click="creditTransaction(account_id)" ng-href="#/{{account_id}}/credit/transactions">{{"credit.Movimientos" | translate}}</a></li>
					<li id="dueDate" class="col-md-4"><a href="#" ng-click="dueDate(account_id)" ng-href="#/{{account_id}}/credit/dueDate">{{"credit.PorFechaVencimiento" | translate}}</a></li>
					<li id="valueDate" class="col-md-4"><a href="#" ng-click="valueDate(account_id)" ng-href="#/{{account_id}}/credit/valueDate">{{"credit.PorFechaValor" | translate}}</a></li>
				</ul>
				<div ui-view></div>
			</div>
		</div>
	</div><!--end bigCallout-->
	<a type="button" class="btn btn-large button_mfm pull-right">
		<span class="glyphicon glyphicon-download-alt"></span> {{"biometric-detail.Descargar" | translate}}
	</a>
</div>
