<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<p>
		<strong>MENSAJE IMPORTANTE:</strong><br>
		{{core_notification.text_message}}
	</p>
</div>

<h1 class="title-green">Notificaciones recientes</h1>
<div class="box-notifications">
	<div class="row" ng-repeat="notification in notifications" ng-switch="notification.account_type">

		<article ng-switch-when="LOAN_ACCOUNT">
			<ng-include src="'views/partials/accounts/notifications/loan.html'"></ng-include>
		</article>
		<article ng-switch-when="CREDIT_ACCOUNT">
			<ng-include src="'views/partials/accounts/notifications/credit.html'"></ng-include>
		</article>
		<article ng-switch-when="SAVINGS_ACCOUNT">
			<ng-include src="'views/partials/accounts/notifications/saving.html'"></ng-include>
		</article>
		<article ng-switch-when="INVESTMENT_ACCOUNT">
			<ng-include src="'views/partials/accounts/notifications/investment.html'"></ng-include>
		</article>

	</div>
</div>
